<nav id="knowy-navbar">
    <div class="__profile-container">
        <img alt="" class="__logo" src="https://placehold.co/100x40"/>


        <div class="kn-dropdown __dropdown">
            <input id="navbar-profile-dropdown" type="checkbox">

            <label class="__profile" for="navbar-profile-dropdown"> <span>Username</span>
                <img alt="" class="avatar" src="https://placehold.co/50x50"/>
            </label>

            <label class="__profile-menu" for="navbar-profile-dropdown"> <span>Username</span>
                <img alt="" class="avatar" src="https://placehold.co/50x50"/>
            </label>

            <nav class="__menu">
                <a class="__menu-item">Editar Perfil</a>
                <a class="__menu-item">Membresia</a>
                <div>
                    <a class="__menu-item">Home</a>
                    <a class="__menu-item">Logout</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="__links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<style>
    #knowy-navbar {
        position: fixed;
        z-index: 90;
        display: grid;
        width: 100%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 65% 35%;
    }

    /* Knowy navbar style */
    #knowy-navbar {
        background: green;
    }

    /* Links */
    #knowy-navbar > .__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    /* Links Style */
    #knowy-navbar > .__links {
        border-top: 1px solid gray;

        > a {
            text-decoration: none;
            color: white;
        }

        > a:hover {
            text-decoration: underline;
        }
    }

    /* Profile container */
    #knowy-navbar > .__profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > .__logo {
            align-self: center;
            height: 100%;
            padding: 4px 10px;
            grid-column: 2;
            justify-self: center;
            object-fit: contain;
        }
    }

    /* Custom dropdown */
    #knowy-navbar > .__profile-container > .__dropdown {
        position: relative;
        display: inline-block;

        > input {
            display: none;
        }

        > label {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            padding: 10px;
            cursor: pointer;
            user-select: none;
            gap: 0.5rem;
        }

        > label > img {
            height: 100%;
            border-radius: 50%;
            aspect-ratio: 1;
            object-fit: cover;
        }

        > .__profile-menu {
            display: none;
        }

        > .__menu {
            position: absolute;
            z-index: 100;
            right: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            width: 30vw;
            transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
            opacity: 0;
        }

        > .__menu div {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: auto;

            > .__menu-item {
                flex: 1;
            }
        }

        > input:checked ~ .__menu {
            visibility: visible;
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
        }
    }

    /* Dropdown Style */
    #knowy-navbar > .__profile-container > .__dropdown {

        &:hover {
            text-decoration: underline;
            text-decoration-color: white;
        }

        > label {
            color: white;
        }

        > label > img {
            border: 2px solid white;
        }

        > .__menu {
            border: 1px solid gray;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background: white;

            & .__menu-item {
                cursor: pointer;
                text-align: center;
                text-decoration: none;
            }

            > .__menu-item:hover {
                text-decoration: underline;
                background: darkgray;
            }

            > div {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                background: red;
            }

            > div > .__menu-item:hover {
                text-decoration: underline;
            }
        }
    }

    /* Responsive */
    @media (max-width: 768px) {
        #knowy-navbar {
            height: 80px;
            grid-template-rows: 100%;
        }

        #knowy-navbar > .__links {
            display: none;
        }

        #knowy-navbar > .__profile-container {
            grid-template-columns: 1fr 1fr;
        }

        #knowy-navbar > .__profile-container > .__logo {
            justify-self: start;
            grid-column: 1;
        }

        #knowy-navbar > .__profile-container > .__dropdown {
            z-index: 100;
            grid-column: 2;


            > input:checked + label {
                display: none;
            }

            --knowy-navbar-dropdown-label-height: 180px;

            > .__profile-menu {
                display: flex;
                position: fixed;
                top: 0;
                right: 0;
                flex-direction: column-reverse;
                width: 70vw;
                max-width: 500px;
                height: var(--knowy-navbar-dropdown-label-height);
                padding-top: 0.5rem;
                transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
                opacity: 0;
            }

            > .__profile-menu img {
                margin-top: 1.25rem;
            }

            > .__profile-menu::after {
                font-size: 18px;
                position: fixed;
                align-self: start;
                content: "✖";
                cursor: pointer;
                color: black;
            }

            > input:checked ~ .__profile-menu {
                transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
                opacity: 1;
            }

            > .__menu {
                top: var(--knowy-navbar-dropdown-label-height);
                right: 0;
                width: 70vw;
                max-width: 500px;
                height: calc(100vh - var(--knowy-navbar-dropdown-label-height));
            }

            > input:checked ~ .__menu {
                display: flex;
            }
        }

        #knowy-navbar > .__profile-container > .__dropdown {
            > input:checked ~ .__profile-menu {
                border-top-left-radius: 10px;
            }

            > .__menu {
                border-bottom-left-radius: 10px;

                & .__menu-item {
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                }

                > div {
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        /* Dropdown style */
        #knowy-navbar > .__profile-container > .__dropdown {
            &:hover {
                text-decoration: underline;
                text-decoration-color: white;
            }

            > .__profile-menu {
                background: red;
            }

            > .__menu-item:hover {
                text-decoration: underline;
                background: darkgray;
            }

            > div {
                background: red;
            }

            > div > .__menu-item:hover {
                text-decoration: underline;
            }
        }
    }
</style>


