<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="..." crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
	<script>

		function verifyPassword() {
			const password = document.getElementById('newPassword').value;
			const advice = document.getElementById('passwordAdvice1');

			// Regular expressions for each requirement
			const minLength = password.length >= 8;
			//TODO in the future
			const hasUpper = /[A-Z]/.test(password);
			const hasLower = /[a-z]/.test(password);
			const hasNumber = /[0-9]/.test(password);
			const hasSymbol = /[^A-Za-z0-9]/.test(password);

			if (minLength && hasUpper && hasLower && hasNumber && hasSymbol) {
				advice.style.color = "green";
				advice.textContent = "¡Contraseña válida!";
			} else {
				advice.style.color = "red";
				advice.textContent = "Mínimo 8 caracteres que contengan Mayúsculas, Minúsculas, Números y Símbolos.";
			}
		}

		function checkNewPassword() {
			const passwordNew = document.getElementById('newPassword').value;
			const passwordConfirmation = document.getElementById('confirmPassword').value;
			const advice2 = document.getElementById('passwordAdvice2');
			if (passwordNew === passwordConfirmation) {
				advice2.style.color = "green";
				advice2.textContent = "¡Las contraseñas coinciden!";
			}else{
				advice2.style.color = "red";
				advice2.textContent = "¡Las contraseñas no coinciden!"
			}
		}
	</script>
	<link rel="stylesheet" th:href="@{/styles/pages/user-management.css}">
	<title>User profile</title>
</head>

<body>

<aside layout:fragment="sidebar" class="kn-aside user-sidebar">
	<div class="user-info text-center mb-4">
		<h3 class="mt-3 usernameTitle" th:text="${username}">Usuario</h3>
	</div>
	<div class="sidebar-menu">
		<a th:href="@{/user-profile}" class="button sidebar-link but"  data-sidebar-toggler="">Editar Perfil</a>
		<button class="sidebar-link" data-sidebar-toggler="" th:classappend="active">Gestión de la Cuenta</button>
	</div>
</aside>

<main layout:fragment="main-content">
	<form id="profileForm">
		<div class="user-management-container_main ">
			<div class="description-card">
				<h1 class="title-management">Gestión de la Cuenta</h1>
			</div>
			<form id="accountForm">
				<div class="row user-information">
					<div class="form-fields">
						<label for="privateName" class="section-title">Nombre de Usuario Privado 👤</label>
						<input type="text" class="form-control" id="privateName" th:value="${username}" required>
					</div>

					<div class="form-fields">
						<label for="email" class="section-title">Correo Electrónico 📧</label>
						<input type="email" class="form-control" id="email" th:value="${email}" required>
					</div>

					<div class="form-fields">
						<label for="currentPassword" class="section-title">Contraseña actual🔑</label>
						<input type="password" class="form-control" id="currentPassword" name="currentPassword">
						<div id="advice0" class="advice"></div>
					</div>

					<div class="form-fields">
						<label for="newPassword" class="section-title">Contraseña nueva🔑</label>
						<input type="password" class="form-control" id="newPassword" name="newPassword" oninput="verifyPassword()">
						<div id="passwordAdvice1" class="advice">Mínimo 8 caracteres que contengan Mayúsculas, Minúsculas, Números y Símbolos.</div>
					</div>

					<div class="form-fields">
						<label for="confirmPassword" class="section-title">Confirmar Contraseña nueva🔑</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" oninput="checkNewPassword()">
						<div id="passwordAdvice2" class="advice"></div>
					</div>
				</div>
				<div class="buttons-form-content">
					<button type="reset" class="btn btn-inferior">Restablecer</button>
					<button type="submit" class="btn btn-save">Guardar Cambios</button>
				</div>
			</form>
			<div class="delete-section">
				<div class="description-card delete">
					<h3 class="title-delete">Desactivación y eliminación de la cuenta</h3>
				</div>
				<p class="description-management">Elimina permanentemente tus datos y todo lo asociado con tu cuenta.</p>
				<br>
				<a th:href="@{/delete-account}" class="btn btn-delete">Eliminar cuenta</a>
			</div>
		</div>
	</form>
</main>



</body>
</html>
