<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="/scripts/user-profile.js"></script>

	<link rel="stylesheet" th:href="@{/styles/pages/user-management.css}">
	<title>User profile</title>
</head>

<body>

<aside class="kn-aside user-sidebar" layout:fragment="sidebar">
	<div class="user-info text-center mb-4">
		<h3 class="mt-3 username-title" th:text="${publicUser.nickname}">Usuario</h3>
	</div>
	<div class="sidebar-menu">
		<button class="sidebar-link" data-sidebar-toggler="" th:classappend="active">Editar Perfil</button>
		<a class="sidebar-link" th:href="@{/user-account}">Gestión de la Cuenta</a>
	</div>
</aside>

<main layout:fragment="main-content">
	<form id="profileForm" method="post" th:action="@{/update-user-profile}">
		<div class="user-management-container_main ">
			<div class="description-card">
				<h1 class="title-management">Editar Perfil</h1>
				<p class="description-management">Configura tus preferencias en cuanto a lenguajes de programación,
					editar tu nombre de usuario y tu imágen de perfil.
					Recuerda mantener la privacidad de tus datos personales. Cualquier usuario podrá ver la información
					que introduzcas en esta página. </p>
			</div>

			<!--messages for username update-->
			<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
			<div class="alert alert-success" th:if="${success}" th:text="${success}"></div>

			<div class="row user-information">
				<!--PHOTO-->
				<div class="picture-edit-container col-lg-3" data-bs-target="#exampleModal" data-bs-toggle="modal">
					<img alt="User Avatar" class="edit-avatar" id="profilePicture" src="https://placehold.co/50x50">

					<label class="edit-pic-btn" for="profile-pic-id">
						<i class="bi bi-person-bounding-box"></i>
					</label>

					<input class="file-input-overlay" id="profile-pic-id" name="profilePictureId" type="hidden">
				</div>

				<div class="information-edit-container col-lg-9">

					<h6 class="section-title">Nombre de Usuario: 👤</h6>
					<input class="user-name form-control" name="nickname" th:placeholder="${publicUser.nickname}"
						   type="text">
					<br>
					<h6 class="section-title">Lenguajes de Programación favoritos ⭐</h6>
					<select class="form-control" id="languages" multiple>
						<option th:each="language : ${languages}"
								th:text="${language.name}"
								th:value="${language.name}">
						</option>
					</select>
					<button class="btn btn-save" id="chooseLanguage" type="button">Escoger lenguaje</button>
					<button class="btn btn-delete" id="removeLanguage" type="button">Eliminar lenguaje</button>
					<div class="mt-2" id="selectedLanguages">
						<th:block th:each="userLanguage : ${publicUser.languages}">
  							<span class="badge badge-info mr-1 mb-1 selected-language"
								  style="cursor: pointer;"
								  th:data-language="${userLanguage.name}"
								  th:text="${userLanguage.name}">
  							</span>
							<input class="selected-language"
								   name="languages"
								   th:data-language="${userLanguage.name}"
								   th:value="${userLanguage.name}"
								   type="hidden"/>
						</th:block>
					</div>

				</div>
			</div>
			<div class="buttons-form-content">
				<button class="btn btn-inferior" type="reset">Restablecer</button>
				<button class="btn btn-save" type="submit">Guardar Cambios</button>
			</div>
		</div>
	</form>
</main>

<div layout:fragment="layout-overlay">
	<!-- Profile Images Modal Selection -->


	<!-- Modal -->
	<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body d-flex flex-wrap justify-content-evenly">
					<img alt="Avatar 1" class="avatar-selectable rounded-circle img-fluid me-2"
						 data-avatar-id="1"
						 data-avatar-src-path="/images/profile/knowylogo.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo.svg"
						 width="80"
					/>
					<img alt="Avatar 2" class="avatar-selectable rounded-circle img-fluid me-2"
						 data-avatar-id="2"
						 data-avatar-src-path="/images/profile/knowylogo_red.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo_red.svg"
						 width="80"
					/>
					<img alt="Avatar 3" class="avatar-selectable rounded-circle img-fluid"
						 data-avatar-id="3"
						 data-avatar-src-path="/images/profile/knowylogo_blue.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo_blue.svg"
						 width="80"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
