<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="/scripts/user-profile.js"></script>

	<link rel="stylesheet" th:href="@{/styles/pages/user-management.css}">
	<title>Knowy - Settings</title>
</head>

<body>

<aside class="kn-aside-setting user-sidebar" layout:fragment="sidebar">
	<div class="user-info text-center mb-4">
		<h3 class="mt-3 username-title" th:text="${publicUser.nickname}">Usuario</h3>
	</div>
	<div class="sidebar-menu">
		<button class="sidebar-link" data-sidebar-toggler="" th:classappend="active">Editar Perfil</button>
		<a class="sidebar-link" th:href="@{/user-account}">Gestión de la Cuenta</a>
	</div>
</aside>

<main layout:fragment="main-content">
	<form id="profileForm" method="post" th:action="@{/update-user-profile}">
		<div class="user-management-container_main ">
			<div class="description-card">
				<h1 class="title-management">Editar Perfil</h1>
				<p class="description-management mt-3">Configura tus preferencias y recuerda mantener la privacidad de tus datos personales. </p>
			</div>

			<!--messages for username update-->
			<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
			<div class="alert alert-success" th:if="${success}" th:text="${success}"></div>

			<div class="row user-information">
				<!--PHOTO-->
				<div class="picture-edit-container col-lg-3" data-bs-target="#exampleModal" data-bs-toggle="modal">
					<img class="edit-avatar" id="profilePicture">

					<label class="edit-pic-btn" for="profile-pic-id">
						<i class="bi bi-person-bounding-box"></i>
					</label>

					<input class="file-input-overlay" id="profile-pic-id" name="profilePictureId" type="hidden">
				</div>

				<div class="information-edit-container col-lg-9">

					<h4 class="section-title">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"
							  fill="black"  class="icon icon-tabler icons-tabler-filled icon-tabler-user">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
							<path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
						</svg>
						Nombre de Usuario:
					</h4>
					<input class="user-name form-control my-3" name="nickname" th:placeholder="${publicUser.nickname}"
						   type="text">
					<br>
					<h4 class="section-title">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"
							  fill="orange"  class="icon icon-tabler icons-tabler-filled icon-tabler-star">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
						</svg>
						Lenguajes de Programación favoritos:
					</h4>
					<select class="form-control my-3" id="languages" multiple>
						<option class="language" th:each="language : ${languages}"
								th:text="${language.name}"
								th:value="${language.name}">
						</option>
					</select>
					<button class="btn btn-save" id="chooseLanguage" type="button">Elegir lenguaje</button>
					<button class="btn btn-delete" id="removeLanguage" type="button">Eliminar lenguajes</button>
					<div class="mt-4" id="selectedLanguages">
						<p class="py-2 px-3" style="background-color: #7E57C2; color: white;">¡Borra un lenguaje pulsando encima de él!</p>
						<th:block th:each="userLanguage : ${publicUser.languages}">
  							<span class="badge badge-info my-3 mx-2 selected-language"
								  style="cursor: pointer; font-weight: normal; font-size: 16px;"
								  th:data-language="${userLanguage.name}"
								  th:text="${userLanguage.name}">
  							</span>
							<input class="selected-language"
								   name="languages"
								   th:data-language="${userLanguage.name}"
								   th:value="${userLanguage.name}"
								   type="hidden"/>
						</th:block>
					</div>

				</div>
			</div>
			<div class="buttons-form-content">
				<button class="btn btn-inferior" type="reset">Restablecer</button>
				<button class="btn btn-save" type="submit">Guardar Cambios</button>
			</div>
		</div>
	</form>
</main>

<div layout:fragment="layout-overlay">
	<!-- Profile Images Modal Selection -->

	<!-- Modal -->
	<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Elige tu foto de perfil</h1>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body d-flex flex-wrap justify-content-evenly">
					<img alt="Avatar 1" class="avatar-selectable rounded-circle img-fluid me-2"
						 data-avatar-id="1"
						 data-avatar-src-path="/images/profile/knowylogo.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo.svg"
						 width="80"
					/>
					<img alt="Avatar 2" class="avatar-selectable rounded-circle img-fluid me-2"
						 data-avatar-id="2"
						 data-avatar-src-path="/images/profile/knowylogo_red.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo_red.svg"
						 width="80"
					/>
					<img alt="Avatar 3" class="avatar-selectable rounded-circle img-fluid"
						 data-avatar-id="3"
						 data-avatar-src-path="/images/profile/knowylogo_blue.svg" data-bs-dismiss="modal"
						 height="80"
						 src="/images/profile/knowylogo_blue.svg"
						 width="80"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
