@use '../global-vars' as *;

body {
	display: flex;
	align-items: center;
	//flex-direction: column;
	justify-content: center;
	//width: 100vw;
	height: 100vh;
	//margin: -6% 0;
	//padding: 0 4%;
	background: $primary-super-light;
	//background-size: 50px;
	//background-blend-mode: soft-light;
}

.kn-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	text-decoration: none;
	opacity: 0;

	&--img {
		width: 180px;
	}

	&--text {
		color: $primary-dark;
		font-size: 64px;
		font-family: 'caveat-brush';
	}
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.kn-container {
	//overflow: hidden;
	background-color: #B4D7B2;
	width: 100%;
	max-width: 635px;
	height: 755px;
	padding: 1rem 4rem;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	//opacity: 0;
	border-radius: 30px;
	box-shadow: 0 6px 18px rgba($dark, 0.15);
}

.kn-form {

	&__group {
		display: flex;
		flex-direction: column;

	}

	&--label {
		color: $neutral-900;
	}

	&--input {
		width: 100%;
		height: 55px;
		border: 2px solid $primary;
		border-radius: 8px;
		//box-shadow: 0 0 0 2px rgba($primary-light, 0.25);
	}
}

.kn-button {
	font-size: 20px;
	width: 100%;
	//padding: 0.5rem;
	height: 55px;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 25px;
	background-color: $primary;

	&:hover {
		background: $primary-dark;
	}
}

.forgot-password {
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	color: $secundary-dark;

	&:hover {
		color: $secundary;
	}
}