@use '../global-vars' as *;

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: $primary-100;
}

.kn-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	text-decoration: none;
	opacity: 0;

	&--img {
		width: 180px;
	}

	&--text {
		color: $primary-700;
		font-family: 'caveat-brush';
	}
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.kn-container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $primary-100;
	width: 100%;
	max-width: 535px;
	height: auto;
	border-radius: $radius-25;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	padding: 1rem 4rem;
}


.kn-container::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	border-radius: $radius-25;
	background: #B4D7B2;
	filter: blur(12px);
	z-index: -1;
	opacity: 0.8;
}


.kn-form {

	margin-top: 25px;

	&__title {
		font-family: 'caveat-brush';
		margin-bottom: 20px;
	}

	&__text {
		font-family: 'excalifont';
		color: $secundary-700;
		margin-bottom: 15px;
	}

	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	&__error {
		color: $danger-500;
		font-family: 'excalifont';
	}

	&--label {
		color: $neutral-900;
		font-family: 'excalifont';
		font-size: 24px;
	}

	&--input {
		width: 100%;
		height: 55px;
		padding: 0 10px;
		font-family: 'excalifont';
		font-size: 20px;
		color: $neutral-700;
		border: 3px solid $primary-500;
		border-radius: $radius-8;

	}

	&--input:focus {
		border: 4px solid $primary-700;
		outline: none;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin: 20px 0;

		&-links {
			display: inline-block;
			align-self: flex-start;
			font-family: 'excalifont';
			font-size: 18px;
			cursor: pointer;
			text-decoration: none;
			color: $secundary-700;

			&:hover {
				color: $secundary-500;
				text-decoration: underline;
				text-underline-offset: 4px;
			}
		}
	}

	.kn-button {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		font-family: 'excalifont';
		width: 100%;
		height: 55px;
		cursor: pointer;
		color: white;
		border: none;
		background-color: $primary-500;
		transition: $transition-speed;

		&:hover {
			background: $primary-700;
		}
	}

}

@media (max-height: 790px) {

	.kn-logo {
		.kn-logo--img {
			width: 140px;
		}

		.kn-logo--text {
			font-size: 40px;
		}
	}

	.kn-form__title {
		font-size: 40px;
	}

	.kn-form--label {
		font-size: 20px;
	}

	.kn-form--input{
		height: 45px;
		font-size: 18px;
	}

	.kn-form {
		.kn-button {
			height: 45px;
			font-size: 24px;
		}
	}

	.kn-container {
		padding: 1.5rem;
		background: none;
		max-width: 435px;
	}

	.kn-container::before {
		padding: 1.5rem;
		background: none;
		right: 0;
	}
}

@media (max-width: 625px) {

	.kn-logo {
		.kn-logo--img {
			width: 140px;
		}

		.kn-logo--text {
			font-size: 40px;
		}
	}

	.kn-form__title {
		font-size: 40px;
	}

	.kn-form__footer-links {
		font-size: 16px;
	}

	.kn-container {
		padding: 1.5rem;
		background: none;
	}

	.kn-container::before {
		padding: 1.5rem;
		background: none;
		right: 0;
	}
}

@media (max-width: 480px) {

	.kn-logo {
		.kn-logo--img {
			width: 140px;
		}

		.kn-logo--text {
			font-size: 40px;
		}
	}

	.kn-form__title {
		font-size: 32px;
	}

	.kn-form--label {
		font-size: 20px;
	}

	.kn-form--input{
		height: 45px;
		font-size: 18px;
	}

	.kn-form {
		.kn-button {
			height: 45px;
			font-size: 24px;
		}
	}
}

