@use '../_global-vars' as *;
@use '../global';
@use '../components/lessonscard';

@font-face {
	font-family: 'caveat-brush';
	src: url('../../fonts/CaveatBrush-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'excalifont';
	src: url('../../fonts/Excalifont-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('../../fonts/Inter.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}