@use '../_global-vars' as *;
@use '../components/lessonscard';

.lessons-component{
	border-radius: $radius-25;
	box-shadow: 0 1px 6px rgb(0 0 0 / 0.1);
	padding: 1em;
	margin: 1em 1em 0 1em;
	background-color: $primary-300;
}
.course-title {
	color: black;
	text-align: center;
	align-content: center;
	font-family: caveat-brush, sans-serif;
}

.course-title__progressbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.progress-bar {
	width: 100%;
	//max-width:260px;
	height: 10px;
	background-color: $neutral-100;
	border-radius: 10px;
	overflow: hidden;
	margin: 0.5em 1em;
}

.progress {
	height: 100%;
	background-color: $secundary-700;
	transition: width 0.3s ease-in-out;
}

.course-title__percentage {
	display: flex;
	width: 100%;
	margin-top: 1.75rem;
	font-weight: 600;
	font-size: 0.75rem;
	font-family: inter, sans-serif;
}

.introduction-btn--purple{
	border-radius: $radius-25;
	background-color: $secundary-500;
	font-family: Excalifont, sans-serif;
	font-size: 1.25rem;
	color: white;
	padding: 10px 50px ;
	margin-top: 0.25em;
	margin-bottom: 1em;
	transition: 0.2s ease-in-out;
	text-decoration: none;
	width: 100%;
}
.introduction-btn--purple:hover{
	color:white;
	background-color:$secundary-700;
	text-decoration:none;
}


