@use "../global-vars" as *;
@use "../components/lesson/documents-links" as *;
@use "../pages/course-page" as *;
@use "../components/lesson/solutions-component" as *;

body {
	box-sizing: border-box;
	background-color: $bg;
}

.img-head {
	height: 300px;
	width: 100%;
	object-fit: cover;
	border-radius: $radius-25;
}
.main-content {
	display:flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 10px;
}

.info-course {
	font-family: "caveat-brush", cursive;
	font-weight: normal;
	color: $info-500;
	margin-top: 3rem;

}
.container-flex{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 1.5rem;
	font-family: "caveat-brush", cursive;
}

.info-group{
	display:flex;
	flex-direction: column;
}

.btn-lesson {
	font-family: "Excalifont", sans-serif;
	font-size: 1.25rem;
	padding: 0.4em 1.5em;
	display: inline-flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
	transition: $transition-speed;
	border-radius: $radius-10;
	background-color: $primary-500;
	color: white;
	text-decoration: none;
}
.btn-lesson:hover {
	background-color: $primary-700;
	color: white;
}

.btn-lesson.disabled {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.title {
	color: $primary-500;
	font-family: caveat-brush, sans-serif;
	font-weight: normal;
	margin: 1.5rem 0;
}
.meta-row{
	display: flex;
	align-items: center;
	gap: 5em;
	font-size: 1.1rem;
	margin-top: 2rem;
}

.theory {
	margin-top: 1.25rem;
	margin-bottom: 2rem;
}

.icon {
	display: flex;
	align-items: center;
	gap: 0.3em;
}
.duration {
	margin-left: 0.2em;
}

.lesson-content{
	font-family: inter, sans-serif;
	padding-bottom: 1rem;
}

@media (min-width: 600px) {
	.container-flex {
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 600px) {
	.btn-lesson {
		padding: 10px 20px;
		font-size: 18px;
		margin-top: 10px;
	}
	.title, .icon, .info-course {
		margin-left: 5px;
	}
}
