body {
    background: rgb(246, 248, 246);
    margin: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}

.formulario {
    background-color: rgb(179, 189, 189);
    padding: 20px;
    margin-top: 40px;
    border: 2px solid rgba(6, 6, 6, 0.325);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(10, 10, 10, 0.2);;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 100%;
}





