@use '../global-vars' as *;
@use '../global' as *;
@font-face {
	font-family: 'caveat-brush';
	src: url('../../fonts/CaveatBrush-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'excalifont';
	src: url('../../fonts/Excalifont-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('../../fonts/Inter.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
body{
	background-color: $neutral-300;
	font-family: 'inter';
}

.page-container{
	display: flex;
	padding:30px ;
}

.row{
	width: 100%;
	justify-content: center;
	align-items: center;
}

.user-information{
	gap: 0.5rem;
	padding: 30px;
	font-family: 'caveat-brush';
}
/*Button expand*/

.but{
	display: inline-block;
	font-weight: bold;

	background-color: $primary-500;
	text-align: center;
	vertical-align: middle;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.375rem;
	text-decoration: none;
	color: $neutral-100;
	transition: $transition-speed;
	border: solid 1px black;

}

.but:hover{
	background-color: $primary-500;
}

/*Aside bar user-management*/
.usernameTitle{
	font-family: 'excalifont';
}
.user-sidebar {
	background-color: $neutral-300;
	padding: 20px;
	box-shadow: $card-shadow;
	width: fit-content;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar-link {
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	color: $neutral-100;
	transition: $transition-speed;
	font-family: 'caveat-brush';
}

.sidebar-link:hover {
	background-color: $secundary-100;
	font-weight: bold;
	color: $primary-500;
}

.sidebar-link.active {
	background-color: $primary-700;
	font-weight: bold;
	color: white;
}

.sidebar-link.active:hover{
	background-color: $primary-300;
}




.user-management-container_main{
	width: 100%;
	background-color: $neutral-100;
	padding:30px;
}

.title-management{
	color:$primary-500;
	font-weight: bold;
	font-family: excalifont;
}

.tittle-delete{
	color: $danger-500;
	font-weight: bold;

}

.description-management{
	color:$neutral-900;
	font-family: 'inter';
}


.picture-edit-container{
	width:150px;
	height:150px;
	border: 3px solid $primary-500;
	border-radius: 50%;
	overflow: hidden;
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.edit-avatar{
	width:100%;
	height:100%;
	object-fit: cover;
	display: block;
	background: #f0f0f0;
}

.edit-pic-btn {
	position: absolute;
	background-color: $primary-500;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: $transition-speed;
}

.edit-pic-btn:hover {
	background-color: $primary-300;
	color: $neutral-700;
}

.file-input-overlay {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.section-title{
	color: $primary-500;
	font-weight: bold;
}

.language-item {
	cursor: pointer;
	padding: 0.4em 0.7em;
	font-size: 0.9em;
}

#selectedLanguages {
	background-color: $primary-500;
	color: $neutral-300;
	border-radius: 5px;
}

.buttons-form-content {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.btn-inferior{
	background-color: $neutral-900;
	color: white;
	font-family: 'caveat-brush';
}

.btn-save{
	background-color: $primary-500;
	font-family: 'caveat-brush';
	color: white;
}

.btn-save:hover{
	background-color: $primary-300;
}

.btn-inferior:hover{
	background-color: $neutral-900;
}

/*User Account*/

.form-fields{
	margin-bottom: 1.1rem;
}

.advice{
	color: $neutral-900;
	font-size: small;
}

.title-delete{
	color: $danger-500;
	font-family: excalifont;
}

.delete-section{
	border-top:1px solid $primary-500;
	margin-top: 3rem;
	padding-top: 1.5rem;
}

.btn-delete{
	background-color: $danger-500;
	font-family: 'caveat-brush';
	color: white;
}

.btn-delete:hover{
	background-color: $danger-600;
	color: white;
}

/*delete-account*/
.delete-warning{
	padding: 30px;
	color: $danger-600;
	background-color: #e5555d3b;
	border: 1px solid $danger-500;
	border-radius: 8px;
	font-family: 'inter';
}