@use '../global-vars' as *;
@use '../components/user-home/resume';
@use '../components/MissionsComponent';

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px;
	gap: 1rem;
	padding: 10px 10%;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}

.home-grid {
	&--1c2r {
		grid-row: span 2;
	}
}
