@use '../global-vars' as *;
@use '../components/navbar';

body {
	background-color: $bg;
}

.container-fluid {
	max-width: 95%;
}

.toggle-filtros {
	display: none;
	margin-top: 40px;
	height: 55px;
	background-color: $secundary-500;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: $radius-10;
	cursor: pointer;
	font-family: 'excalifont';

	&:hover {
		background-color: $secundary-700;
	}
}

.filtros-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	border-radius: $radius-25;
	background-color: $primary-100;
	box-shadow: $card-shadow;
	padding: 0 20px;
	margin-top: 30px;
}

.filtros {
	display: flex;
	gap: 40px;
}

.filter-select {
	width: auto;
	border: none;
	background-color: $secundary-500;
	color: white;
	border-radius: $radius-10;
	height: 55px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'excalifont';
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='16' height='16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5.5l6 6 6-6' stroke='white' stroke-width='2' fill='none'/%3E%3C/svg%3E");
}

select.form-select option {
	color: black;
	background-color: $neutral-100;
}

.acciones {
	display: flex;
	gap: 40px;
}

.icon-tabler {
	margin-right: 5px;
}

.btn-aplicar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary-500;
	color: white;
	height: 55px;
	font-family: 'excalifont';
	font-size: 18px;
	border: none;
	border-radius: $radius-10;
	padding: 15px;
}

.btn-aplicar:hover {
	background-color: $primary-700;
	color: white;
}

.btn-borrar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $danger-600;
	color: white;
	height: 55px;
	font-family: 'excalifont';
	font-size: 18px;
	border: none;
	border-radius: $radius-10;
	padding: 15px;
}

.btn-borrar:hover {
	background-color: $danger-500;
	color: white;
}

// CARDS
.curso-card {
	width: 350px;
	height: 380px;
	border-radius: 0 0 25px 25px;
	overflow: hidden;
	box-shadow: $card-shadow;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.imagen-container {
	position: relative;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imagen-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.imagen-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.tags-container {
	position: absolute;
	top: 10px;
	display: flex;
	gap: 20px;
	justify-content: center;
	z-index: 2;
}

.tag {
	height: 20px;
	width: 90px;
	font-size: 12px;
	background-color: $info-500;
	color: white;
	text-align: center;
	border-radius: $radius-10;
	line-height: 20px;
	font-family: 'excalifont';
}

.card-body-custom {
	padding: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.creator {
	color: $secundary-700;
	font-weight: 500;
	margin: 0;
	font-family: 'excalifont';
}

.fecha {
	color: $neutral-500;
	font-family: 'excalifont';
	font-style: italic;
	margin-top: 5px;
}

.descripcion {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	font-family: 'excalifont';
}

.btn-curso {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	background-color: $primary-500;
	color: white;
	font-size: 20px;
	border-radius: $radius-25;
	padding: 10px 0;
	border: none;
	font-family: 'excalifont';
}

.btn-curso:hover {
	background-color: $primary-700;
}

@media (max-width: 768px) {

	.toggle-filtros {
		display: block;
	}

	.filtros-container {
		display: none;
		flex-direction: column;
		align-items: center;
		height: auto;
		padding: 20px;
	}

	.filtros-container.visible {
		display: flex;
	}

	.filter-select {
		width: auto;
	}

	.filtros,
	.acciones {
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px;
		margin: 10px 0;
		width: 100%;
	}

	.btn-aplicar,
	.btn-borrar{
		width: 45%;
	}

}

/* En pantallas móviles muy pequeñas: columna completa */
@media (max-width: 480px) {

	.filter-select {
		width: 100%;
	}

	.filtros,
	.acciones {
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	.btn-aplicar,
	.btn-borrar {
		width: 100%;
	}
}
