<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/basic-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="stylesheet" th:href="@{/styles/pages/access.css}">
	<title>Knowy - Inicio de sesión</title>
</head>

<body layout:fragment="body-content">

<div class="kn-container">

	<div class="kn-logo">
		<img alt="Logo de Knowy" class="kn-logo--img" src="/images/logoWoutText.png">
		<span class="kn-logo--text">KNOWY</span>
	</div>

	<form action="#" class="kn-form" method="post" th:action="@{/login}" th:object="${loginForm}">
		<h1 class="kn-form__title">Iniciar Sesión</h1>

		<div class="kn-form__group">
			<label class="kn-form--label" for="email">Correo electrónico:</label>
			<input class="kn-form--input" type="email" id="email" name="email" placeholder="johndoe@gmail.com" th:field="*{email}" required/>
		</div>

		<div class="kn-form__group">
			<label class="kn-form--label" for="password">Contraseña:</label>
			<input class="kn-form--input" type="password" id="password" name="password" placeholder="Escriba su contraseña" th:field="*{password}" required/>
		</div>

		<h5 th:if="${loginError}" th:text="${loginError}" class="kn-form__error"></h5>

		<div class="kn-form__footer">
			<a class="kn-form__footer-links" th:href="@{/password-change/email}">¿Has olvidado la contraseña?</a>
			<a class="kn-form__footer-links" th:href="@{/register}">¿No tienes cuenta? <span class="enlace-underline">¡Regístrate aquí!</span></a>
			<a class="kn-form__footer-links" th:href="@{/}">Volver a la web</a>
		</div>

		<button class="kn-button" type="submit">Iniciar Sesión</button>
	</form>
</div>

</body>
</html>