<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/basic-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Knowy - Cambio de Contraseña</title>
	<link rel="stylesheet" th:href="@{/styles/pages/access.css}">
</head>
<body layout:fragment="body-content">

<div class="kn-container">

	<div class="kn-logo">
		<img alt="Logo de Knowy" class="kn-logo--img" src="/images/logoWoutText.png">
		<span class="kn-logo--text">KNOWY</span>
	</div>

	<form class="kn-form" method="post" th:action="@{'/password-change?token=' + ${token}}" th:object="${passwordForm}">
		<h1 class="kn-form__title">Cambiar contraseña</h1>
		<h5 class="kn-form__text">Escriba su nueva contraseña.</h5>

		<div class="kn-form__group">
			<label class="kn-form--label" for="new-password">Contraseña nueva:</label>
			<input class="kn-form--input"
				   id="new-password"
				   placeholder="Escriba su nueva contraseña"
				   required
				   th:field="*{password}" type="password">
			<span class="advice" id="passwordAdvice">
				Mínimo 8 caracteres que contengan Mayúsculas, Minúsculas, Números y Símbolos.
			</span>
		</div>

		<div class="kn-form__group">
			<label class="kn-form--label" for="repeat-new-password">Repetir contraseña nueva:</label>
			<input class="kn-form--input"
				   id="repeat-new-password"
				   placeholder="Escriba de nuevo su contraseña"
				   required
				   th:field="*{confirmPassword}"
				   type="password">
			<div class="advice" id="passwordConfirmAdvice"></div>
		</div>

		<button class="kn-button" type="submit">Cambiar contraseña</button>
	</form>
</div>

<script>
	document.getElementById('new-password').addEventListener('input', event => {
		const password = event.target.value
		changePasswordAdvice(isValidPassword(password))
	})

	function isValidPassword(password) {
		return /^(?=.*\d)(?=.*[!-/:-@])(?=.*[A-Z])(?=.*[a-z])\S{8,}$/.test(password)
	}

	function changePasswordAdvice(isValid) {
		const advice = document.getElementById('passwordAdvice');

		if (isValid) {
			advice.style.color = "green";
			advice.textContent = "¡Contraseña válida!";
		} else {
			advice.style.color = "red";
			advice.textContent = "Mínimo 8 caracteres que contengan Mayúsculas, Minúsculas, Números y Símbolos.";
		}
	}


	document.getElementById('repeat-new-password').addEventListener('input', event => {
		const password = document.getElementById('new-password').value
		const confirmPassword = event.target.value

		changePasswordCompareAdvice(isPasswordMatching(password, confirmPassword))
	})

	function isPasswordMatching(password, confirmPassword) {
		return password === confirmPassword
	}

	function changePasswordCompareAdvice(isMatch) {
		const advice = document.getElementById('passwordConfirmAdvice');
		if (isMatch) {
			advice.style.color = "green";
			advice.textContent = "¡Las contraseñas coinciden!";
		} else {
			advice.style.color = "red";
			advice.textContent = "¡Las contraseñas no coinciden!"
		}
	}
</script>
</body>
</html>