<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/basic-layout}">
<head>
	<title>Página de Cambio de Contraseña</title>
	<link rel="stylesheet" th:href="@{/styles/pages/access.css}">
</head>
<body layout:fragment="body-content">

<div class="kn-container">

	<div class="kn-logo">
		<img alt="Logo de Knowy" class="kn-logo--img" src="/images/logoWoutText.png">
		<h2 class="kn-logo--text">KNOWY</h2>
	</div>

	<form action="#" class="kn-form" method="post">
		<h2 class="kn-form__title">Cambiar contraseña</h2>
		<h3 class="kn-form__text">Recibirás un email con el enlace para el cambio de contraseña.</h3>

		<div class="kn-form__group">
			<label class="kn-form--label" for="email">Correo electrónico:</label>
			<input class="kn-form--input" id="email" name="email" placeholder="johndoe@gmail.com" required/>
		</div>

		<div class="kn-form__footer">
			<a class="kn-form__footer-links" href="#">Volver al inicio de sesión</a>
		</div>

		<button class="kn-button" type="submit">Enviar</button>
	</form>
</div>
</body>
</html>