<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/basic-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Knowy - Recuperar cuenta</title>
	<link rel="stylesheet" th:href="@{/styles/pages/access.css}">
</head>
<body layout:fragment="body-content">

<div class="kn-container">

	<div class="kn-logo">
		<img alt="Logo de Knowy" class="kn-logo--img" src="/images/logoWoutText.png">
		<span class="kn-logo--text">KNOWY</span>
	</div>

	<form class="kn-form" method="post" th:action="@{/password-change/email}" th:object="${emailForm}">
		<h1 class="kn-form__title">Cambiar contraseña</h1>
		<h5 class="kn-form__text">Recibirás un email con el enlace para el cambio de contraseña.</h5>

		<div class="kn-form__group">
			<label class="kn-form--label" th:for="*{email}">Correo electrónico:</label>
			<input class="kn-form--input" id="email" placeholder="knowy@gmail.com" required th:field="*{email}"
				   type="email"/>
		</div>

		<div class="kn-form__footer">
			<a class="kn-form__footer-links" th:href="@{/login}">Volver al inicio de sesión</a>
		</div>

		<button class="kn-button" type="submit">Enviar</button>
	</form>
</div>
</body>
</html>