<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/basic-layout}">
<head>
    <title>Knowy - Cambio de Contraseña</title>
    <link rel="stylesheet" th:href="@{/styles/pages/access.css}">
</head>
<body layout:fragment="body-content">

<div class="kn-container">

	<div class="kn-logo">
		<img alt="Logo de Knowy" class="kn-logo--img" src="/images/logoWoutText.png">
		<span class="kn-logo--text">KNOWY</span>
	</div>

	<form action="#" class="kn-form" method="post">
		<h1 class="kn-form__title">Cambiar contraseña</h1>
		<h5 class="kn-form__text">Escriba su nueva contraseña.</h5>

		<div class="kn-form__group">
			<label class="kn-form--label" for="new-password">Contraseña nueva:</label>
			<input class="kn-form--input" id="new-password" type="password" placeholder="Escriba su nueva contraseña" required>
		</div>

		<div class="kn-form__group">
			<label class="kn-form--label" for="repeat-new-password">Repetir contraseña nueva:</label>
			<input class="kn-form--input" id="repeat-new-password" type="password" placeholder="Escriba de nuevo su contraseña" required>
		</div>

		<button class="kn-button" type="submit">Cambiar contraseña</button>
	</form>
</div>

</body>
</html>