@use "../global-vars" as *;

footer {
	background-color: $neutral-700;
}

.title-logo {
	font-family: caveat-brush, sans-serif;
	color: white;
	margin: 0;
}

.logo {
	width: 120px;
	display: block;
	margin: 0 auto;
}

.title-footer{
	font-family: caveat-brush, sans-serif;
	color: $secundary-400;
	margin-bottom: 1rem;
	display: inline-block;
	border-bottom: 2px solid $secundary-400;
	padding-bottom: 7px;
}

.list-unstyled {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;

	.link-footer {
		color: white;
		text-decoration: none;
	}

	.link-footer:hover {
		color: $primary-300;
	}
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	padding: 0;
	margin: 0 0 0.5rem 0;

	li a {
		font-size: 1.75rem;
		color: white;
		transition: color 0.2s;
	}
	li a:hover {
		color: $primary-300;
	}
}

p.mb-0 a i {
	margin-right: 0.5rem;
	vertical-align: middle;
}

.copyr {
	background-color: $primary-700;
	padding: 0.8rem;
}