@use '../_global-vars' as *;

.lesson-card {
	width: auto;
	padding: 4px;
	display:flex;
	flex-direction: column;
	gap:1em;
	margin-top: 1rem;
}
.lesson-list {
	list-style: none;
	margin-left: 1em;
	margin-right: 1em;
	width:auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.lesson-item {
	//background: $primary-300;
	border-radius: $radius-10;
	box-shadow: 0 1px 6px rgb(0 0 0 / 0.1);
	transition: background-color 0.3s ease;
	width: auto;
	display:flex;
	padding: 5px 0;

	.lesson-item__lesson-link {

		display: flex;
		align-items: center;
		width:100%;
		text-decoration: none;
		color: white;
		padding: 10px 15px;
		border-radius: 8px;
		cursor: pointer;
	}


	.lesson-item__lesson-icon {
		flex-shrink: 0;
		font-size: 1.4rem;
		width: 32px;
		text-align: center;
		margin-right: 12px;
	}

	.lesson-item__lesson-info {
		margin-right:auto;

			.lesson-info__lesson-number {
				font-family: Excalifont, sans-serif;
				font-size: 1.25rem;
				margin-bottom: 3px;
			}

			.lesson-info__lesson-name {
				font-family: Excalifont, sans-serif;
				font-size: 1.1rem;
				color: $neutral-100;
			}

			.show-sidebar-btn{
				margin-left:auto;
			}
	}
}

[data-status="COMPLETE"] {
	background: $primary-500;
}

[data-status="COMPLETE"]:hover {
	background: $primary-700;
}

[data-status="NEXT_LESSON"] {
	background: $secundary-500;
}

[data-status="NEXT_LESSON"]:hover {
	background: $secundary-700;
}

[data-status="BLOCKED"] {
	background: $danger-600;
}

[data-status="BLOCKED"]:hover {
	background: $danger-500;
}

