@use "../global-vars" as *;

$dropdown-label-height: 180px;

#knowy-navbar {
	position: sticky;
	z-index: 90;
	top: 0;
	display: grid;
	width: 100%;
	height: fit-content;
	grid-template-columns: 1fr;
	grid-template-rows: 100%;
}

/* Knowy navbar style */
#knowy-navbar {
	background: $primary-500;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Links */
#knowy-navbar > .__profile-container > .__links {
	font-family: 'caveat-brush';
	font-size: 1.2rem;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $neutral-100;
	gap: 1.25rem;

	> a {
		text-decoration: none;
		color: $neutral-100;
	}

	> a:hover {
		text-decoration: underline;
	}
}

/* Profile container */
#knowy-navbar > .__profile-container {
	display: grid;
	grid-template-columns: 20% auto 28%;

	> .__logo {
		display: flex;
		align-items: center;
		align-self: center;
		flex-direction: row;
		justify-content: center;
		grid-column: 1;
		justify-self: center;

		> .--text {
			font-family: 'caveat-brush';
			font-size: 1.5rem;
			color: $neutral-100;
		}

		> img {
			height: 10vh;
			object-fit: contain;
		}
	}
}

/* Custom dropdown */
#knowy-navbar > .__profile-container > .__dropdown {
	position: relative;
	display: inline-block;

	&:hover {
		text-decoration: underline;
		text-decoration-color: $neutral-100;
	}

	> input {
		display: none;
	}

	> label {
		font-weight: normal;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: fit-content;
		height: 100%;
		margin-left: auto;
		padding: 0.75rem 0.5rem 0.75rem 0;
		cursor: pointer;
		user-select: none;
		color: $neutral-100;
		gap: 0.5rem;
	}

	> label > img {
		height: 7vh;
		transition: height 0.3s ease;
		border: 2px solid $neutral-100;
		border-radius: 50%;
		aspect-ratio: 1;
		object-fit: cover;
	}

	> label > span {
		font-family: 'caveat-brush';
		display: block;
		color: $neutral-100;
	}

	> .__profile {
		> .--text {
			font-size: 1.2rem;
			overflow: hidden;
			max-width: 150px;
			text-align: right;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	> .__profile-menu {
		top: 0;
		right: 0;
		display: none;
		flex-direction: column-reverse;
		width: 60vw;
		max-width: 500px;
		height: $dropdown-label-height;
		padding-top: 0.5rem;
		transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
		pointer-events: none;
		opacity: 0;
		border-top-left-radius: 10px;
	}

	> .__profile-menu > .--text {
		font-family: 'caveat-brush';
		font-size: 1.1rem;
	}

	> .__menu {
		font-family: 'caveat-brush';
		position: absolute;
		z-index: 100;
		right: 0;
		display: flex;
		visibility: hidden;
		flex-direction: column;
		width: 225px;
		max-width: 225px;
		transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
		opacity: 0;
		border: 1px solid $neutral-500;
		border-bottom-right-radius: $radius-10;
		border-bottom-left-radius: $radius-10;
		background: $neutral-100;
		box-shadow: 8px 0 12px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);

		& .__menu-item {
			font-size: 1.1rem;
			font-weight: 600;
			padding: 0.25rem;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			color: $primary-500;
		}

		& .__menu-item--visibility {
			display: none;
		}

		> .__menu-item:hover {
			text-decoration: underline;
			color: $primary-500;
			background: $neutral-300;
		}
	}

	> input:checked ~ .__menu {
		visibility: visible;
		transition: opacity 0.3s ease-in-out;
		opacity: 1;
	}

	> .__menu > form {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-top: auto;

		> .__menu-item {
			flex: 1;
		}
	}

	> .__menu .menu-btn-logout {
		font-size: 1.1rem;
		font-weight: 600;
		width: 100%;
		padding: 0.25rem;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: $neutral-100;
		border: none;
		border-bottom-right-radius: $radius-10;
		border-bottom-left-radius: $radius-10;
		background: $primary-500;

		&:hover {
			background: $primary-700;
		}
	}
}

/* Responsive */
@media (max-width: 768px) {
	#knowy-navbar {
		grid-template-rows: 100%;
	}

	#knowy-navbar > .__profile-container > .__links {
		display: none;
	}

	#knowy-navbar > .__profile-container {
		grid-template-columns: 1fr 1fr;
	}

	#knowy-navbar > .__profile-container > .__logo {
		justify-self: start;
		grid-column: 1;
	}

	#knowy-navbar > .__profile-container > .__dropdown {
		z-index: 100;
		grid-column: 2;

		> input:checked + label {
			display: none;
		}

		$dropdown-label-height: 180px;

		> .__profile-menu {
			position: fixed;
			display: flex;
			height: $dropdown-label-height;
			padding: 0.75rem;
			pointer-events: none;
			box-shadow: -8px 0 12px rgba(0, 0, 0, 0.2);
		}

		> .__profile-menu img {
			margin-top: 1.25rem;
		}

		> .__profile-menu::after {
			font-size: 18px;
			position: fixed;
			align-self: start;
			content: "✖";
			cursor: pointer;
			color: $neutral-300;
		}

		> input:checked ~ .__profile-menu {
			transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
			pointer-events: visible;
			opacity: 1;
		}

		> input:checked ~ .__profile-menu > img {
			height: 10vh;
		}

		> input:checked ~ .__profile-menu > span {
			font-size: 1.25rem;
		}

		> .__menu {
			font-size: 1.1rem;
			position: fixed;
			top: $dropdown-label-height;
			right: 0;
			width: 60vw;
			max-width: 500px;
			height: calc(100vh - $dropdown-label-height);

			> form > .menu-btn-logout {
				font-size: 1.5rem;
			}
		}

		> input:checked ~ .__menu {
			display: flex;
		}
	}

	#knowy-navbar > .__profile-container > .__dropdown {

		> .__menu {
			border-bottom-left-radius: 10px;
			box-shadow: -8px 0 10px rgba(0, 0, 0, 0.2);

			& .__menu-item {
				font-size: 1.5rem;
				padding: 1rem 0;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
			}

			& .__menu-item--visibility {
				display: block;
			}

			> div {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 10px;
			}
		}
	}

	/* Dropdown style */
	#knowy-navbar > .__profile-container > .__dropdown {
		&:hover {
			text-decoration: underline;
			text-decoration-color: $neutral-100;
		}

		> .__profile {
			padding: 0.75rem;
		}

		> .__profile-menu {
			background: $primary-500;
		}

		> .__menu-item:hover {
			text-decoration: underline;
			background: darkgray;
		}

		> div {
			background: $primary-500;
		}

		> div > .__menu-item:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: 576px) {
	#knowy-navbar > .__profile-container > .__dropdown {
		> .__profile > .--text {
			display: none;
		}
	}
}