@use "../global-vars" as *;


.bienvenida-card {
	background-color: #343a40; /* Un gris oscuro similar al fondo */
	color: white;
	border-radius: 1rem;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap; /* Para que los elementos se envuelvan en pantallas pequeñas */
}

.bienvenida-texto {
	flex-grow: 1;
	margin-right: 10px;
	margin-bottom: 15px; /* Espacio para cuando se envuelven los elementos */
	min-width: 200px; /* Evita que se colapse demasiado en pantallas pequeñas */
	justify-content: center;
	align-items: center;
}

.bienvenida-texto h2 {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.progreso-cursos {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.progreso-barra {
	flex-grow: 1;
	margin-left: 10px;
	background-color: #6c757d; /* Un gris más claro para el fondo de la barra */
	border-radius: 0.5rem;
	height: 10px;
	overflow: hidden;
}

.progreso-barra-relleno {
	background-color: white;
	height: 100%;
	width: 37.5%; /* Simula 3 de 8 cursos completados */
	border-radius: 0.5rem;
}

.ranking-siguiente-container {
	display: flex;
	gap: 10px; /* Espacio entre los botones */
	margin-top: 10px; /* Espacio desde la barra de progreso */
	width: 100%; /* Ocupa todo el ancho disponible inicialmente */
}

.ranking {
	background-color: #fd7e14; /* Naranja similar al ranking */
	color: white;
	padding: 10px 15px;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	flex-grow: 1; /* Para que compartan el espacio */
}

.btn-siguiente-pequeno {
	background-color: #28a745; /* Verde de éxito de Bootstrap */
	color: white;
	border: none;
	padding: 8px 12px; /* Más pequeño */
	border-radius: 0.5rem;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s ease;
	text-align: center;
	font-size: 1rem; /* Más pequeño */
	flex-grow: 1; /* Para que compartan el espacio */
}

.btn-siguiente-pequeno:hover {
	background-color: #218838;
}

.racha-container {
	text-align: center;
	margin-bottom: 20px; /* Espacio para cuando se envuelven los elementos */
	min-width: 100px; /* Evita que se colapse demasiado */
}

.racha-label {
	font-size: 1rem;
	color: #6c757d;
	margin-bottom: 5px;
}

.racha-circulo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: solid 2px white;
	background-color: #28a745; /* Verde similar al círculo de la racha */
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1;
	margin: 0 auto; /* Centra el círculo */
}

.racha-dias {
	font-size: 0.8rem;
}
