@use '../global' as *;
@use '../components/navbar';


html, body {
	height: 100%;
	overflow: hidden;
}

/* CSS of layout */
.layout-body {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(100% - #{navbar.$navbar-height});
	overflow: hidden;
}

.kn-main,
.kn-aside {
	position: fixed;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease, opacity 0.3s ease;
	pointer-events: auto;
	opacity: 1;
}

.kn-main {
	transform: translateX(0);
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;

	&--hidden {
		z-index: 0;
		transform: translateX(100%);
		pointer-events: none;
	}

	@media (min-width: 768px) {
		position: static;
		width: 70%;
		height: auto;
		transition: none;
		transform: none;
	}
}

.kn-aside {
	z-index: 0;
	overflow: auto;
	transform: translateX(-100%);

	&--active {
		z-index: 2;
		transform: translateX(0);
	}

	@media (min-width: 768px) {
		position: static;
		width: 30%;
		transition: none;
		transform: none;
	}
}

.show-sidebar-btn {
	position: sticky;
	z-index: 10;
	display: none;
	visibility: visible;
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
	margin: 0.25rem;
	transition: transform 0.3s ease,
	opacity 0.3s ease;
	transform: translateX(0);
	opacity: 1;
	color: white;
	border: none;
	border-radius: 50%;
	background: #333333;

	@media (max-width: 768px) {
		display: block;
	}
}

