@use '../_global-vars' as *;

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding-top: 4%;
}

.knowy-logo {
	z-index: 10;
	width: 150px;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	opacity: 0;
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	overflow: hidden;
	width: 100%;
	max-width: 800px;
	max-height: 600px;
	padding: 0;
	transform: translateY(20px);
	animation: fadeUp 1s forwards;
	opacity: 0;
	border: 2px solid $primary;
	border-radius: 12px;
	box-shadow: 0 6px 18px rgba($neutral-900, 0.15);
}

.tab-container {
	display: flex;
	width: 100%;
}

.tab {
	font-weight: bold;
	flex: 1;
	padding: 15px;
	text-align: center;
	border: none;
}

.tab-login {
	text-decoration: none;
	color: $neutral-100;
	background-color: $primary-light;
}

.tab-login:hover {
	color: $neutral-100;
	background: $primary-dark;
}

.tab-register {
	text-decoration: none;
	color: $neutral-100;
	background-color: $primary;
}

.tab-register:hover {
	color: $neutral-100;
}

.kn-form {
	padding: 0 50px 50px 50px;
	background-color: $neutral-100;
}

.form-group {
	margin-top: 20px;
	margin-bottom: 24px;
}

label {
	font-weight: 500;
	display: block;
	margin-bottom: 6px;
	color: #333;
}

.password-container {
	position: relative;
}

input {
	font-size: 16px;
	width: 100%;
	padding: 10px 16px;
	border: 1px solid #8CD790;
	border-radius: 6px;
	outline: none;
}

input:focus {
	border-color: #8CD790;
	box-shadow: 0 0 0 2px rgba(140, 215, 144, 0.25);
}

input[type="password"] {
	padding-right: 40px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.primary-button {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: -80px;
	padding: 14px 28px;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	background-color: #8CD790;
}

.primary-button:hover {
	background-color: #7BC680;
}

.forgot-password {
	font-size: 14px;
	margin-bottom: -80px;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
	border: none;
	background: none;
}

.forgot-password:hover {
	color: #050036;
}