@use '../global-vars' as *;
@use '../components/navbar';
@use '../components/footer';
@use '../components/toast';

html, body {
	display: grid;
	height: 100dvh;
	grid-template-rows: auto 1fr;
}

.layout-body {
	display: grid;
	grid-template-rows: 1fr auto;
}