@use '../global-vars' as *;
@use '../components/navbar';
@use '../components/footer';
@use '../components/cards-questionnaire/options-quiz';
@use '../components/cards-questionnaire/quiz-header';
@use '../components/cards-questionnaire/questionComponent';

html, body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100dvh;
}