@use '../global' as *;
@use '../components/navbar';
@use '../components/footer';
@use '../components/toast';

html, body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100dvh;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

.layout-body {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

main {
	flex: 1;
}