<div class="lesson-card" th:fragment="lessonscard(course, courseId)">

	<div class="lesson-list" th:if="${course.lessons != null}">
		<div class = "lesson-item"  th:each="lesson : ${course.lessons}"
			 th:data-status="${lesson.status.name()}">
			<a th:href="@{'/course/' + ${courseId} + '/lesson/' + ${lesson.id}}" class="lesson-item__lesson-link">

				<div class="lesson-item__lesson-icon">
					<span th:if="${lesson.status.name() == 'COMPLETE'}">✅</span>
					<span th:if="${lesson.status.name() == 'NEXT_LESSON'}">▶️</span>
					<span th:if="${lesson.status.name() == 'BLOCKED'}">🔒</span>
				</div>
				<div class="lesson-item__lesson-info">
					<span class="lesson-info__lesson-number" th:text="'Lección ' + ${lesson.number}"></span>
					<span class="lesson-info__lesson-name" th:text="${lesson.title}"></span>
				</div>
				<button th:if="${lesson.number == lastLesson}" class="show-sidebar-btn" data-sidebar-toggler=""> >️ </button>
			</a>
		</div>
	</div>
</div>