<div class="lesson-card" th:fragment="lessonscard(course, courseId)">

	<div class="lesson-list" th:if="${course.lessons != null}">
		<div class = "lesson-item"  th:each="lesson : ${course.lessons}"
			 th:data-status="${lesson.status.name()}">
			<a th:href="@{'/course/' + ${courseId} + '/lesson/' + ${lesson.id}}" class="lesson-item__lesson-link">

				<div class="lesson-item__lesson-icon">
					<span th:if="${lesson.status.name() == 'COMPLETE'}">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"
							  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"
							  stroke-linejoin="round"
							  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M9 11l3 3l8 -8" />
							<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
						</svg>
					</span>

					<span th:if="${lesson.status.name() == 'NEXT_LESSON'}">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"
							  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"
							  stroke-linejoin="round"
							  class="icon icon-tabler icons-tabler-outline icon-tabler-player-play">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 4v16l13 -8z" />
						</svg>
					</span>

					<span th:if="${lesson.status.name() == 'BLOCKED'}">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"
							  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"
							  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-lock">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
							<path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M8 11v-4a4 4 0 1 1 8 0v4" />
						</svg>
					</span>
				</div>
				<div class="lesson-item__lesson-info">
					<span class="lesson-info__lesson-number" th:text="'Lección ' + ${lesson.number}"></span>
<!--					<span class="lesson-info__lesson-name" th:text="${lesson.title}"></span>-->
				</div>
				<button th:if="${lesson.number == lastLesson}" class="show-sidebar-btn" data-sidebar-toggler=""> >️ </button>
			</a>
		</div>
	</div>
</div>