<div class="missions-container" th:fragment="missionsComponent(missionsList, lenguageOptions)">
	<h2 class="missionsTitle">Misiones:</h2>

	<div class="missionInstance" th:each="mission : ${missionsList}">
		<div class="__details">
			<span class="__description" th:text="${mission.name}"></span>
			<span class="__progress-text" th:text="${mission.currentProgress + '/' + mission.totalProgress}"></span>
		</div>
		<div class="__progress-bar-background">
			<div class="__progress-bar-foreground"
				 th:style="'width: ' + ${mission.fractionProgress} + '%;'"></div>
		</div>
	</div>

	<div class="actions-footer">
		<div class="__language-selector-container">
			<select class="__language-dropdown" name="language" id="languageSelector">
				<option th:each="lang : ${languageOptions}"
						th:value="${lang.value}"
						th:text="${lang.label}"
						th:selected="${lang.value == selectedLanguage}">
					Java
				</option>
			</select>
		</div>
		<button class="__quick-match-button">Partida Rápida</button>
	</div>

</div>
