<!-- templates/components/navbar.html -->
<header id="knowy-navbar"
		th:fragment="knowy-navbar(username, avatar)">
	<div class="__profile-container">
		<div class="__logo">
			<img alt="" src="/images/logoWoutText.png"/>
			<span class="--text">KNOWY</span>
		</div>

		<div class="__links">
			<a th:href="${'/home'}">Inicio</a>
			<a th:href="${'/my-courses'}">Mis Cursos</a>
			<a th:href="${'/store'}">Explorar Contenido</a>
		</div>

		<div class="kn-dropdown __dropdown">
			<input id="navbar-profile-dropdown" type="checkbox">

			<label class="__profile" for="navbar-profile-dropdown">
				<span class="--text" th:text="${#authentication?.principal?.publicUser?.nickname}">Username</span>
				<img alt="" th:src="${#authentication?.principal?.publicUser?.profileImage?.url}"/>
			</label>

			<label class="__profile-menu" for="navbar-profile-dropdown">
				<span class="--text" th:text="${#authentication?.principal?.publicUser?.nickname}">Username</span>
				<img alt=""  th:src="${#authentication?.principal?.publicUser?.profileImage?.url}"/>
			</label>

			<nav class="__menu">
				<a class="__menu-item __menu-item--visibility" th:href="${'/home'}">Inicio</a>
				<a class="__menu-item __menu-item--visibility" th:href="${'/my-courses'}">Mis Cursos</a>
				<a class="__menu-item __menu-item--visibility" th:href="${'/store'}">Explorar Contenido</a>
				<a class="__menu-item" th:href="${'/user-profile'}">Ajustes</a>

				<form method="post" th:action="@{/logout}">
					<button class="menu-btn-logout" type="submit">Cerrar sesión</button>
				</form>
			</nav>
		</div>
	</div>
</header>