<!-- Sidebar Fragment -->
<div th:fragment="sidebar(activeMenu)" class="user-sidebar">
	<div class="user-info text-center mb-4">
		<h3 class="mt-3" th:text="${username}">Usuario</h3>
	</div>
	<div class="sidebar-menu">
		<a th:href="@{/user-profile}" class="sidebar-link" th:classappend="${activeMenu == 'user-profile'} ? 'active' : ''">Editar Perfil</a>
		<a th:href="@{/user-account}" class="sidebar-link" th:classappend="${activeMenu == 'user-account'} ? 'active' : ''">Gestión de la Cuenta</a>
	</div>
</div>