<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>

	<!-- Knowy with global.css-->
	<link rel="stylesheet" th:href="@{/styles/layouts/content-sidebar-layout.css}">
</head>
<body>

<aside layout:fragment="sidebar">

</aside>

<main layout:fragment="main-content">

</main>

</body>

<script>
	function showAside(displayValue) {
		if (typeof displayValue !== "string") {
			throw new Error("The 'showAside' function only supports a string value for the display parameter.");
		}

		const main = document.querySelector("main");
		const aside = document.querySelector("aside");

		aside.style.display = displayValue;
		main.style.display = "none";
	}

	function showMain(displayValue) {
		if (typeof displayValue !== "string") {
			throw new Error("The 'showMain' function only supports a string value for the display parameter.");
		}

		const main = document.querySelector("main");
		const aside = document.querySelector("aside");

		main.style.display = displayValue;
		aside.style.display = "none";
	}
</script>
</html>