<!DOCTYPE html>
<html lang="es"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<title>Layout</title>


	<script crossorigin="anonymous"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>


	<!-- estilos para el desplegable -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<!-- Knowy -->
	<link rel="stylesheet" th:href="@{/styles/global-reset.css}">
	<link rel="stylesheet" th:href="@{/styles/font.css}">
	<link rel="stylesheet" th:href="@{/styles/layouts/quiz-layout.css}">
</head>
<body>

<header th:replace="~{components/navbar :: knowy-navbar('username-test', 'https://placehold.co/50x50')}"></header>


<div class="layout-body">
	<main layout:fragment="main-content">
		<!--CARD LAYOUT HEADER-->
		<div th:replace="~{components/cards-quiz/quiz-header :: quiz-header}"></div>

		<!--PROBLEM DEFINITION-->
		<div class="question-container">
			<div th:replace="~{components/cards-quiz/question-component :: question-component}"></div>
		</div>

		<!--POSSIBLE ANSWERS COMPONENT-->
		<div class="answers-container">
			<div th:replace="~{components/cards-quiz/options-quiz :: options-quiz}"></div>
		</div>

		<!--NAVIGATION BUTTONS-->
		<div layout:fragment="quiz-navigation-buttons">
			<div class="answer-button">
				<button class="answer-button__element">Responder</button>
			</div>

			<div class="navigation-buttons">
				<a href="#">
					<button class="navigation-buttons__element">← Anterior</button>
				</a>

				<a href="#">
					<button class="navigation-buttons__element">Siguiente →</button>
				</a>

			</div>
		</div>
	</main>

	<footer th:replace="~{components/footer :: footer}"></footer>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const toggleButton = document.getElementById('toggleEnunciado');
		const enunciadoContent = document.getElementById('enunciadoContent');
		const toggleIcon = toggleButton.querySelector('.toggle-icon');

		if (toggleButton && enunciadoContent && toggleIcon) { // Verificar si los elementos existen
			toggleButton.addEventListener('click', function() {
				enunciadoContent.classList.toggle('hidden');
				toggleIcon.classList.toggle('fa-chevron-down');
				toggleIcon.classList.toggle('fa-chevron-up');
			});
		} else {
			console.warn("Elementos del enunciado no encontrados para el toggle. (toggleEnunciado, enunciadoContent, toggleIcon)");
		}
	});
</script>

</body>
</html>
