@use '../../global-vars' as *;

body {
	background: $neutral-100;
}

.home-resume {
	height: 1fr;
	padding: 1.5rem;
	border-radius: 12px;
	background: $neutral-100;
	box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);

	&__presentation-streak {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
	}

	&__course-progress {
		display: flex;
		flex-direction: column;
	}

	&__bar-text {
		font-size: 1.25rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 0.25rem;

		&--fraction {
			font-size: 0.85rem;
			align-self: end;
		}
	}

	&__bar-container {
		overflow: hidden;
		width: 100%;
		height: 10px;
		border-radius: 10px;
		background-color: rgb($neutral-300, 0.5);

		&__bar-progress {
			width: 60%;
			height: 100%;
			transition: width 0.5s;
			background-color: $secundary-500;
		}
	}

	&__course-btn {
		align-self: center;
		width: 80%;
		margin: 0.25rem 0;
		padding: 0.25rem 0;
		color: $primary-100;
		border: 2px $primary-500 solid;
		border-radius: $radius-25;
		background: $primary-500;
		justify-self: center;

		&:hover {
			background: rgb($primary-500, 0.95);
		}
	}
}

.streak {
	display: flex;
	flex-direction: column;

	&__text {
		font-weight: bold;
		align-self: center;
		margin: 0;
		color: $neutral-700;
		font-size: 0.85rem;
	}


	&__days {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		min-width: 4.5rem;
		min-height: 4.5rem;
		padding: 0.5rem;
		text-align: center;
		border-radius: 50%;
		background: $secundary-500;
		border: 2px rgb($secundary-700, 0.75);
		gap: 0;

		&--text {
			font-weight: bold;
			margin: 0;
			color: $neutral-100;
		}
	}
}
