// SCSS variables (for compilation)
$primary-500: #2F9E44;
$primary-700: #197349;
$primary-300: #BEF2B6;
$primary-100: #EEF8EE;
$secundary-500: #7E57C2;
$secundary-700: #512DA8;
$secundary-300: #CEBFF3;
$secundary-100: #E6E6FA;
$neutral-100: #EFEFEF;
$neutral-300: #E1E1E1;
$neutral-500: #9E9E9E;
$neutral-700: #333333;
$neutral-900: #1E1E1E;
$bg: #FAFAFA;
$danger-500: #D64545;
$danger-600: #E03C3C;
$info-500: #2C74B3;
$info-600: #1993FF;

// Typography
$base-font-size: 16px;
$line-height-base: 1.5;

//Shadows
$card-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
$card-radius: 8px; // Deprecaido

//Border-radius
$radius-25: 25px;
$radius-10: 10px;
$radius-8: 8px;

//Animations
$transition-speed: 0.3s;