// SCSS variables (for compilation)
$primary: #4CAF50;
$primary-light: #A7E9AF;
$primary-dark: #2E7D32;
$neutral-100: #f5f5f5;
$neutral-300: #efefef;
$neutral-500: #e1e1e1;
$neutral-700: #333333;
$neutral-800: #212529bf;
$neutral-850: #343a40bf;
$neutral-900: #121212;
$warning-color: #ffc107;//Adding new colors
$danger-color: #dc3545;
$danger-dark-color: #a32a32;
$danger-dark-text: #58151c;
$links-bg: #0000000D;



// Typography
$base-font-size: 16px;
$line-height-base: 1.5;

//Shadows
$card-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
$card-radius: 12px;

//Animations
$transition-speed: 0.3s;

//Space
$default-padding1: clamp(15px, 3vw, 30px);
$default-padding2: clamp(7.5px, 1.5vw, 15px);