$bg-color: gray;

body {
    background: $bg-color;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}