@use '_global-vars' as *;

@font-face {
	font-family: 'caveat-brush';
	src: url('../fonts/CaveatBrush-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'excalifont';
	src: url('../fonts/Excalifont-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('../fonts/Inter.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

// Exportar a variables CSS (para a futuro colores dinámicos)
:root {
	// Colors
	--primary: #{$primary};
	--primary-dark: #{$primary-dark};
	--primary-light: #{$primary-light};
	--primary-super-light: #{$primary-super-light};
	--neutral-100: #{$neutral-100};
	--neutral-300: #{$neutral-300};
	--neutral-500: #{$neutral-500};
	--neutral-700: #{$neutral-700};
	--neutral-900: #{$neutral-900};
	--bg: #{$bg};
	--danger: #{$danger};
	--danger-hover: #{$danger-hover};
	--info: #{$info};
	--info-hover: #{$info-hover};
	// Border-radius
	--radius-25: #{$radius-25};
	--radius-10: #{$radius-10};
	--radius-8: #{$radius-8};
}

body {
	font-family: 'inter';
	font-size: $base-font-size;
	line-height: $line-height-base;

	.kn-logo--text {
		font-size: 64px;
	}
	.kn-button {
		font-size: 28px;
		border-radius: $radius-25;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		font-size: 18px;
	}
	p {
		font-size: 16px;
	}
}