spring:
    config:
        import: "file:.env[.properties]"
    application:
        name: knowy-server
        datasource:
        url: jdbc:postgresql://postgres:5432/knowydb
        username: knowy
        password: knowy
    jpa:
        properties:
            hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: validate
    mail:
        host: localhost
        port: 1025
        properties:
            mail:
                debug: false
                smtp:
                    auth: false
                    starttls:
                        enable: false
    jwt:
        key: ${JWT_SECRET_KEY}
server:
    port: 8080
