<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}: %-5level | %logger> %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="GENERAL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM-dd}-output.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}: %-5level | %logger> %msg%n</pattern>
		</encoder>
	</appender>

	<!--
	Setting additivity="false" ensures that logs from this logger (e.g., com.knowy.server.application) are not
	propagated to parent loggers such as com.knowy.server or the root logger. This prevents duplicate log entries.
	-->
	<logger name="com.knowy.server.application" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="GENERAL_LOG"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="GENERAL_LOG"/>
	</root>
</configuration>