<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}: %-5level | %logger> %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="GENERAL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>%d{yyyy-MM-dd}-output.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}: %-5level | %logger> %msg%n</pattern>
		</encoder>
	</appender>

	<!--
	El additivity=false es para que lo que se imprima por este logger, no se imprima por ninguno superior.
	Por ejemplo: com.knowy.server sería 'superior' a com.knowy.server.application
	-->
	<logger name="com.knowy.server.application" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="GENERAL_LOG" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="GENERAL_LOG" />
	</root>
</configuration>