<div class="modal-overlay" th:fragment="feedbackModal" id="feedbackModal">
	<div class="modal-overlay__modal-container">
		<div class="modal-overlay__modal-header">¡Correcto!</div>
		<div class="modal-overlay__modal-body">
			<h2>¿Cuál fue la dificultad del ejercicio?</h2>
			<div class="difficulty-buttons-container">
				<form th:action="@{/feedback/submit}" method="post" class="button-form">
					<input type="hidden" name="dificultad" value="1"/>
					<button onclick="closeModal()" type="submit" class="dbutton difficulty-button--easy">
						Fácil
						<i class="ti ti-mood-happy"></i>
					</button>
				</form>

				<form th:action="@{/feedback/submit}" method="post" class="button-form">
					<input type="hidden" name="dificultad" value="2"/>
					<button onclick="closeModal()" type="submit" class="dbutton difficulty-button--normal">
						Normal
						<i class="ti ti-mood-empty"></i>
					</button>
				</form>
				<form th:action="@{/feedback/submit}" method="post" class="button-form">
					<input type="hidden" name="dificultad" value="3"/>
					<button onclick="closeModal()" class="dbutton difficulty-button--difficult">
						Difícil
						<i class="ti ti-mood-sad"></i>
					</button>
				</form>
			</div>
			<h3>¡Valoración obligatoria!</h3>
		</div>
	</div>
</div>
<script
	src="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/js/tabler.min.js">
</script>
<script th:inline="javascript">
	function closeModal() {
		document.getElementById('feedbackModal').classList.add('hidden');
	}
	function openModal() {
		document.getElementById('feedbackModal').classList.remove('hidden'); //esta función será aplicada a las opciones de cada pregunta
	}
</script>