<div class="documentContainer" th:fragment="solutions-component(solutions)">
	<div class="accordion solutions-accordion" id="solAccordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="solHeadingOne">
				<button aria-controls="solCollapseOne"
						aria-expanded="false" class="accordion-button collapsed"
						data-bs-target="#solCollapseOne"
						data-bs-toggle="collapse"
						type="button">
					Ver soluciones
				</button>
			</h2>
			<div aria-labelledby="solHeadingOne" class="accordion-collapse collapse" data-bs-parent="#solAccordionExample"
				 id="solCollapseOne">
				<div class="accordion-body">
					<div class="accordion" id="solSub-accordionExample">
						<div class="accordion-item"
							 th:each="solution, iterStat : ${solutions}">
							<h2 class="accordion-header" th:id="'sub-heading' + ${iterStat.index}">
								<button aria-expanded="false" class="accordion-button collapsed sol-cards"
										data-bs-toggle="collapse"
										th:attr="data-bs-target='#sub-collapse' + ${iterStat.index}"
										type="button">
									<span th:text="${solution.cardTitle} + ' ' + ${iterStat.count}">
										Titulo tarjeta
									</span>
								</button>
							</h2>
							<div class="accordion-collapse collapse"
								 data-bs-parent="#solSub-accordionExample"
								 th:attr="aria-labelledby='sub-heading' + ${iterStat.index}"
								 th:id="'sub-collapse' + ${iterStat.index}">
								<div class="accordion-body">
									<strong>Pregunta:</strong>
									<p th:text="${solution.question}">Pregunta de la tarjeta 1.</p>
									<hr>
									<strong>Solución:</strong>
									<p th:text="${solution.answer}">Solución a la pregunta 1.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
