<div class="options-quiz"
	 method="post"
	 th:action="@{/course/exercise/review}"
	 th:fragment="options-quiz(options, lessonId)"
	 th:if="${mode == 'REVIEWING' || mode == 'FAILING'}">
	<button
		class="exercise-option"
		name="selectedOption"
		th:data-status="${option.status}"
		th:each="option : ${options}"
		th:text="${option.text}"
		type="button">
	</button>

	<!--NAVIGATION BUTTONS-->
	<div class="answer-button" th:if="${mode == 'REVIEWING'}">
		<button class="answer-button__element" data-bs-target="#exampleModal" data-bs-toggle="modal" type="button">
			Siguiente Ejercicio ->
		</button>
	</div>
	<a class="answer-button--fail"
	   th:href="'/course/' + ${lessonId} + '/exercise/review'"
	   th:if="${mode == 'FAILING'}">
		Siguiente Ejercicio ->
	</a>
</div>




