<div class="options-quiz"
	 th:fragment="options-quiz(options, lessonId, exerciseId, mode, formEvaluateUrl)"
	 th:if="${mode == 'REVIEWING' || mode == 'FAILING'}">
	<button
		class="exercise-option"
		name="selectedOption"
		th:data-status="${option.status}"
		th:each="option : ${options}"
		th:text="${option.text}"
		type="button">
	</button>

	<!--NAVIGATION BUTTONS-->
	<div class="answer-button" th:if="${mode == 'REVIEWING'}">
		<button class="answer-button__element" data-bs-target="#exampleModal" data-bs-toggle="modal" type="button">
			Siguiente Ejercicio
			<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"
				  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
				  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" />
				<path d="M13 18l6 -6" /><path d="M13 6l6 6" />
			</svg>
		</button>
	</div>
	<form class="answer-button" method="post" th:action="@{${formEvaluateUrl}}" th:if="${mode == 'FAILING'}">
		<input name="exerciseId" th:value="${exerciseId}" type="hidden"/>
		<button class="answer-button__element" type="submit" value="FAIL" name="evaluation">
			Siguiente Ejercicio
			<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"
				  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
				  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" />
				<path d="M13 18l6 -6" /><path d="M13 6l6 6" />
			</svg>
		</button>
	</form>
</div>