<div class="question-component-container" th:fragment="question-component(exerciseId, questionText, imgPath)">

	<div class="enunciado-container">
		<div class="enunciado-container__enunciado-header">
			<p class="enunciado-header__text" th:text="${'Pregunta ' + exerciseId}"></p>
			<button class="toggle-button" id="toggleEnunciado">
				<i class="fas fa-chevron-down toggle-icon"></i></button>
		</div>
		<div class="enunciado-container__enunciado-content" id="enunciadoContent">
			<p class="enunciado-content__text" id="enunciadoText" th:text="${questionText}">
			</p>
		</div>
	</div>

	<div th:if="${imgPath != null}" class="media-container">
		<img alt="Imagen o Video de la Lección" class="lesson-media" th:src="${imgPath}">
	</div>

</div>