<div th:fragment="quiz-header(courseName, lessonId, exerciseId, cardStreak, correctPercentage)">
	<div class="curso-header">
		<div class="curso-banner">
			<h2 th:text="${courseName}">Angular 19 nivel intermedio + Firebase</h2>
		</div>

		<!-- Datos de navegación -->
		<div class="info-panel">
			<div class="info-panel__element">Lección: <span class="info-panel__element__content" th:text="${lessonID}">0</span></div>
			<div class="info-panel__element">Nº Tarjeta: <span class="info-panel__element__content" th:text="${exerciseID}">0</span></div>
			<div class="info-panel__element">Racha: <span class="info-panel__element__content" th:text="${cardStreak}">0</span></div>
			<div class="info-panel__element">Precisión: <span class="info-panel__element__content" th:text="${correctPercentage} + '%'">0%</span></div>
		</div>
	</div>
</div>