<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/user-postlogin-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Knowy - Store</title>
	<link rel="stylesheet" th:href="@{/styles/pages/courses-store.css}">
</head>
<body>
<main layout:fragment="main-content">

	<div class="container-fluid">
		<section class="filter-container">
			<form method="get" th:action="@{/store}" class="filters d-flex align-items-center">
				<select class="form-select filter-select me-2" name="category" id="category">
					<option value="">Todos los idiomas</option>
					<option th:each="lang : ${allLanguages}" th:value="${lang}" th:text="${lang}" th:selected="${category != null and #strings.equalsIgnoreCase(category, lang)}"></option>
				</select>
				<select class="form-select filter-select me-2" name="order" id="order">
					<option value="alpha_asc" th:selected="${order == 'alpha_asc'}">Alfabético A→Z</option>
					<option value="alpha_desc" th:selected="${order == 'alpha_desc'}">Alfabético Z→A</option>
					<option value="date_asc" th:selected="${order == 'date_asc'}">Fecha publicación ↑</option>
					<option value="date_desc" th:selected="${order == 'date_desc'}">Fecha publicación ↓</option>
				</select>
				<div class="actions d-flex">
					<button class="btn-apply" type="submit">Aplicar</button>
					<a class="btn-delete" th:href="@{/store}">Borrar</a>
				</div>
			</form>
		</section>

		<div class="courses">
			<h2 class="h2-courses">Tienda de cursos</h2>
			<div class="courses-container">
				<div class="m-1" th:each="course : ${courses}">
					<div th:replace="~{components/course-card :: course-card(${course}, ${acquireAction})}"></div>
				</div>
			</div>
		</div>

		<!-- PAGINACIÓN -->
		<div class="pagination-container mt-4">
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">

					<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
						<a class="page-link"
						   th:href="@{/store(page=${currentPage - 1}, category=${category}, order=${order})}">
							Anterior
						</a>
					</li>

					<li class="page-item"
						th:each="i : ${#numbers.sequence(1, totalPages)}"
						th:classappend="${i == currentPage} ? 'active'">
						<a class="page-link"
						   th:href="@{/store(page=${i}, category=${category}, order=${order})}"
						   th:text="${i}">1</a>
					</li>

					<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
						<a class="page-link"
						   th:href="@{/store(page=${currentPage + 1}, category=${category}, order=${order})}">
							Siguiente
						</a>
					</li>

				</ul>
			</nav>
		</div>
		<!-- FIN PAGINACIÓN -->

	</div>
</main>
</body>
</html>
