<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/example-layout}">
<head>
	<title>Index Example</title>
</head>

<body layout:fragment="body-content">

<section class="card-container">

	<h1>Simple Example</h1>

	<div class="card card-component">
		<img src="https://placehold.co/600x400" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
				content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</section>

</body>
</html>
