<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Explicación de la lección</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>
	<link rel="stylesheet" th:href="@{/styles/pages/lesson-explanation.css}">
</head>
<body>
<aside class="kn-aside" layout:fragment="sidebar">
	<div class="lessons-component">
		<div class="course-title">
			<h2 th:text="${course.name}">Nombre del Curso</h2>
			<div class="course-title__progressbar">
				<span class="course-title__percentage" th:text="${course.percentageCompleted + '% completado'}"></span>

				<div class="progress-bar">
					<div class="progress" th:style="'width:' + ${course.percentageCompleted} + '%'"></div>
				</div>
				<a class="introduction-btn--purple">Introducción al curso</a>
			</div>
		</div>
		<div th:replace="~{components/lessonscard ::lessonscard(${course})}"></div>
	</div>
</aside>

<main class="main-content" layout:fragment="main-content">

	<img alt="Imagen" class="img-head" th:src="${lesson.image}">

	<div class="container">
				<h1 class="title" th:text="${lesson.title}">Título de la lección</h1>
				<div class="meta-row">
					<span class="icon">
						<i class="bi bi-clock-fill"></i>
						<span class="duration" th:text="${lesson.duration}">Duración de la lección</span>
					</span>
					<span class="meta" th:text="'Nivel: '+${level}">Nivel: Intermedio</span>
					<span class="meta">Categoría</span>
				</div>
			<a class="btn btn-lesson mt-3">
				<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 4v16l13 -8z" /></svg>
				Iniciar lección
			</a>
		<h2 class="info-course">Información del curso</h2>
		<div class="theory" th:utext="${lessonContent}">Teoría del curso</div>
	</div>

	<div class="component" th:replace="~{components/lesson/solutions-component ::solutions-component(${solutions})}">Soluciones</div>

<!--	<div class="component" th:replace="~{components/lesson/documents-links ::documentLinkComponent(${LinksList})}">Documentos</div>-->
	<div th:replace="~{components/lesson/documents-links :: documentLinkComponent(${LinksLessonList})}"></div>
</main>
</body>
</html>

