<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout.html}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/styles/pages/lesson-explanation.css}">
	<title>Explicación de la lección</title>
</head>
<body>
<aside class="kn-aside" layout:fragment="sidebar">
	<div class="lessons-component">
		<div class="course-title">
			<h2 th:text="${course.name}">Nombre del Curso</h2>
			<div class="course-title__progressbar">
				<span class="course-title__percentage" th:text="${course.percentageCompleted + '% completado'}"></span>

				<div class="progress-bar">
					<div class="progress" th:style="'width:' + ${course.percentageCompleted} + '%'"></div>
				</div>
				<a th:href="@{'/course/' + ${courseId}}" class="introduction-btn--purple">Introducción al curso</a>
			</div>
		</div>
		<div th:replace="~{components/lessonscard ::lessonscard(${course}, ${courseId})}"></div>
	</div>
</aside>

<main class="main-content" layout:fragment="main-content">

	<div class="container">
		<img alt="Imagen del curso" class="img-head" th:src="${course.image}">
		<h1 class="title" th:text="${course.name}">Título del curso</h1>
		<div class="meta-row">
			<span class="language" th:text="${#strings.arrayJoin(course.languages, ', ')}">Idiomas</span>
		</div>

		<div th:if="${isIntro}">
			<a class="btn-lesson mt-3"
			   th:if="${nextLessonId != null}"
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
					 viewBox="0 0 24 24" fill="none" stroke="currentColor"
					 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					 class="icon icon-tabler icons-tabler-outline icon-tabler-player-play">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M7 4v16l13 -8z" />
				</svg>
				<span th:text="${course.percentageCompleted == 0} ? 'Iniciar curso' : 'Seguir curso'"></span>
			</a>
		</div>

		<a class="btn-lesson mt-3"
		   th:if="${!isIntro}"
		   th:classappend="${lesson.status.name() == 'BLOCKED'} ? ' disabled' : ''"
		   th:attr="aria-disabled=${lesson.status.name() == 'BLOCKED'}">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				 viewBox="0 0 24 24" fill="none" stroke="currentColor"
				 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				 class="icon icon-tabler icons-tabler-outline icon-tabler-player-play">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M7 4v16l13 -8z" />
			</svg>
			Iniciar lección
		</a>

		<h2 class="info-course"
			th:text="${isIntro} ? 'Introducción al curso' : 'Introducción a la lección ' + ${lesson.number} + ' - ' + ${lesson.title}">
			Título dinámico
		</h2>

		<div class="theory" th:utext="${isIntro} ? ${course.description} : ${lessonContent}">Teoría del curso</div>
	</div>

	<div class="component" th:replace="~{components/lesson/solutions-component ::solutions-component(${solutions})}">Soluciones</div>

	<div class="component" th:replace="~{components/lesson/documents-links ::documentLinkComponent(${LinksList})}">Documentos</div>
<!--	<div th:replace="~{components/lesson/documents-links :: documentLinkComponent(${LinksLessonList})}"></div>-->
</main>
</body>
</html>

