<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/content-sidebar-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Explicación de la lección</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<link rel="stylesheet" th:href="@{/styles/pages/lesson-explanation.css}">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>
</head>
<body>

<main layout:fragment="main-content" class="main-content">

	<img class="img-head" th:src="${lesson.image}" alt="Imagen">
	<div class="container-flex mt-3">
		<div>
			<h4 class="title" th:text="${lesson.title}">Título de la lección</h4>
			<p class="icon"><i class="bi bi-clock-fill m-1"></i>
				<span class="duration" th:text="${lesson.duration}">Duración de la lección</span></p>
		</div>
		<a th:href="${lesson.link}" class="btn btn-lesson">Iniciar lección</a>
	</div>
	<p class="info-course">Información del curso</p>
	<div class="theory"><p th:text="${lesson.theory}">Teoría del curso</p></div>
	<div th:replace="~{components/lesson/feedbackModal :: feedbackModal}"></div>
	<button onclick="openModal()">Abrir modal</button>
</main>

</body>
</html>

