<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/basic-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mis cursos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<link rel="stylesheet" th:href="@{/styles/pages/my-courses.css}">
</head>
<body layout:fragment="body-content">

<div class="container">

	<div class="left-column">

		<div class="filters">
			<div class="filters-dropdowns">
				<div class="dropdown-categories">
					<button class="btn btn-categories dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Categorías
					</button>
					<ul class="dropdown-menu">
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="categoriesFirstCheckbox">
							<label class="form-check-label" for="categoriesFirstCheckbox">En curso</label>
						</li>
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="categoriesSecondCheckbox">
							<label class="form-check-label" for="categoriesSecondCheckbox">Terminados</label>
						</li>
					</ul>
				</div>

				<div class="dropdown-order">
					<button class="btn btn-order dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Orden
					</button>
					<ul class="dropdown-menu">
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="orderFirstCheckbox">
							<label class="form-check-label" for="orderFirstCheckbox">Más recientes</label>
						</li>
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="orderSecondCheckbox">
							<label class="form-check-label" for="orderSecondCheckbox">Más antiguos</label>
						</li>
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="orderThirdCheckbox">
							<label class="form-check-label" for="orderThirdCheckbox">Mejor valorados</label>
						</li>
					</ul>
				</div>

				<div class="dropdown-visualization">
					<button class="btn btn-visualization dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Visualización
					</button>
					<ul class="dropdown-menu">
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="visualizationFirstCheckbox">
							<label class="form-check-label" for="visualizationFirstCheckbox">Tarjetas</label>
						</li>
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" value="" id="visualizationSecondCheckbox">
							<label class="form-check-label" for="visualizationSecondCheckbox">Lista</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="filters-buttons">
				<button type="button" class="btn btn-apply">Aplicar</button>

				<button type="button" class="btn btn-delete">Borrar</button>
			</div>
		</div>


		<div class="courses">

			<div class="row">
				<h2 class="h2-courses">Mis cursos</h2>
				<div class="col-md-4">

					<div class="card" style="width: 100%;">
						<img src="https://placehold.co/200" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>

				</div>
				<div class="col-md-4">

					<div class="card" style="width: 100%;">
						<img src="https://placehold.co/200" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>

				</div>

				<div class="col-md-4">

					<div class="card" style="width: 100%;">
						<img src="https://placehold.co/200" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>

				</div>

			</div>

			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center mt-5">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only"></span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only"></span>
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

	<div class="right-column">
		<div class="recommendations">
			<h4>Recomendaciones para ti</h4>
			<div class="recommendations-cards">

			<div class="card" style="width: 100%;">
				<img src="https://placehold.co/200" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text.</p>
					<a href="#" class="btn btn-warning">Go somewhere</a>
				</div>
			</div>

			<div class="card" style="width: 100%;">
				<img src="https://placehold.co/200" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text.</p>
					<a href="#" class="btn btn-warning">Go somewhere</a>
				</div>
			</div>

			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>