<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/example-layout}">
<head>
    <title>Página de Cambio de Contraseña</title>
    <link rel="stylesheet" th:href="@{/styles/pages/password-change.css}">
</head>
<body layout:fragment="body-content">


<div class="container">
    <div class="row justify-content-center">
    <div class="col-8">
    <img src="https://i.postimg.cc/VL79WHRW/knowylogocut.png">
    <div class="formulario">
    <h3 style="text-align: center;">Cambiar Contraseña</h3>
    <p style="text-align: center;">Ingresa tu nueva contraseña para recuperar el acceso a tu cuenta.</p>

<div class="form">
<form>
    <div class="mb-3 mt-4">
      <label for="password" class="form-label mt-2 fw-bold">Nueva contraseña:</label>
      <input type="password" class="form-control" id="password" placeholder="Introduce tu nueva contraseña">

      <label for="password" class="form-label mt-4 fw-bold">Confirma tu nueva contraseña:</label>
      <input type="password" class="form-control" id="password2" placeholder="Confirma tu nueva contraseña">
    </div>
    <button type="submit" class="btn btn-success mt-2">Cambiar contraseña</button>
  </form>
</div>
</div>
</div>
</div>
</div>

</body>
</html>