<!DOCTYPE html>
<html lang="es"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/example-layout}">
<head>
	<title>Página de Cambio de Contraseña</title>
	<link rel="stylesheet" th:href="@{/styles/pages/password-change.css}">
</head>
<body layout:fragment="body-content">

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<img src="https://i.postimg.cc/VL79WHRW/knowylogocut.png">
			<div class="formulario">
				<h3 style="text-align: center;">Cambiar Contraseña</h3>
				<p style="text-align: center;">Ingresa tu correo electrónico para recibir un enlace de recuperación de
					contraseña.</p>

				<div class="form">
					<form>
						<div class="mb-3 mt-4">
							<label for="email" class="form-label fw-bold">Correo electrónico:</label>
							<input type="email" class="form-control" id="email" placeholder="correo@correo.com"
								   name="email">
						</div>
						<button type="submit" class="btn btn-success">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>