<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/quiz-layout.html}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Test</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/styles/pages/tests.css}">
</head>
<body>
<!-- I use this page ONLY for testing the quiz-options. It's not necessary. In case that you want, delete this page. -->
<main layout:fragment="main-content">
	<!--CARD LAYOUT HEADER-->
	<div th:replace="~{components/cards-quiz/quiz-header :: quiz-header(
			courseName='Java Script Avanzado',
      		lessonId=${exercise.lessonId()},
      		exerciseId=${exercise.exerciseId()},
      		cardStreak=${null},
      		correctPercentage=${exercise.correctPercentage()}
 	 	)}">
	</div>

	<!--PROBLEM DEFINITION-->
	<div class="question-container">
		<div th:replace="~{components/cards-quiz/question-component :: question-component(
			exerciseId=${exercise.exerciseId()},
			questionText=${exercise.questionText()},
			imgPath=null
			)}">
		</div>
	</div>

	<!--POSSIBLE ANSWERS COMPONENT-->
	<div class="answers-container">
		<div th:replace="~{components/cards-quiz/options-quiz :: options-quiz(options=${exercise.options()})}"></div>
	</div>

	<!--NAVIGATION BUTTONS-->
	<div layout:fragment="quiz-navigation-buttons">

		<div class="navigation-buttons">
			<a href="#">
				<button class="navigation-buttons__element" th:href="@{{id}(id=${exercise.exerciseId - 1})}">← Anterior</button>
			</a>

			<a href="#">
				<button class="navigation-buttons__element" data-bs-target="#exampleModal" data-bs-toggle="modal">
					Siguiente →
				</button>
			</a>
		</div>
	</div>

	<!-- Modal -->
	<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Respuesta correcta</h1>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body d-flex flex-wrap justify-content-evenly">
					<p>¿Cómo te resultó el ejercicio?</p>
					<div class="modal-buttons">
						<a class="btn btn-primary happy" th:href="@{{id}(id=${exercise.exerciseId() +1})}" type="button">
							Fácil
							<img alt="Facil" class="avatar-selectable rounded-circle img-fluid me-2 w-50"
								 data-avatar-src-path="/images/profile/knowylogo.svg" data-bs-dismiss="modal"
								 src="/images/test/mood-happy.svg"
							/>
						</a>

						<a class="btn btn-primary empty" th:href="@{{id}(id=${exercise.exerciseId +1})}" type="button">
							Normal
							<img alt="Normal" class="avatar-selectable rounded-circle img-fluid me-2 w-50"
								 data-avatar-src-path="/images/profile/knowylogo_red.svg" data-bs-dismiss="modal"
								 src="/images/test/mood-empty.svg"
							/>
						</a>

						<a class="btn btn-primary sad" th:href="@{{id}(id=${exercise.exerciseId +1})}" type="button">
							Difícil
							<img alt="Difícil" class="avatar-selectable rounded-circle img-fluid me-2 w-50"
								 data-avatar-src-path="/images/profile/knowylogo_blue.svg" data-bs-dismiss="modal"
								 height="50px" src="/images/test/mood-sad.svg"
								 width="50px"
							/>
						</a>
					</div>
					<p>¡Valoración obligatoria!</p>
				</div>
			</div>
		</div>
	</div>
</main>
<!---script th:src="@{/scripts/answer-exercise-engine.js}" defer></script---->
</body>
</html>
