<!DOCTYPE html>
<html lang="en"
	  layout:decorate="~{layouts/user-postlogin-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Knowy - Home</title>
	<link rel="stylesheet" th:href="@{/styles/pages/user-home.css}">
<!--	<style>-->
<!--		.carousel,-->
<!--		.carousel-inner,-->
<!--		.carousel-item {-->
<!--			height: 100%;-->
<!--			width: 100%;-->
<!--		}-->
<!--	</style>-->
<!--</head>-->
<body>
<main layout:fragment="main-content">
	<section
		th:replace="~{components/user-home/resume :: example-card-component('Anastasia', 'a', 10230, 20)}">
	</section>
	<div
		class="home-grid--1c2r"
		th:insert="~{components/user-home/carousel-news2 :: carousel-news('carousel-news-id', ${newsHome})}">
	</div>
</main>
</body>
</html>