<!DOCTYPE html>
<html lang="en"
	  layout:decorate="~{layouts/user-postlogin-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Knowy - Home</title>
	<link rel="stylesheet" th:href="@{/styles/pages/user-home.css}">
</head>
<body>
<main layout:fragment="main-content">
	<div class="container py-4">
		<div class="row gx-5 gy-4 align-items-start">
			<div class="col-12 col-lg-5">
				<div class="d-flex flex-column gap-5">
					<section
						th:replace="~{components/user-home/resume :: example-card-component(${username},'Bienvenidx',${fractionProgress},${completedCourses},${totalCourses})}">
					</section>
					<div th:insert="~{components/user-home/missionsComponent :: missionsComponent(${missionsList},${lenguageOptions})}">
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-7">
				<div
					th:insert="~{components/user-home/carousel-news :: carousel-news('carousel-news-id',${newsHome})}">
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>