<!DOCTYPE html>
<html lang="es"
	  layout:decorate="~{layouts/user-postlogin-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Knowy - Store</title>
	<link rel="stylesheet" th:href="@{/styles/pages/user-store.css}">
</head>
<body>
<main layout:fragment="main-content">
	<div class="container-fluid">
		<button class="toggle-filtros"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg>
			Filtros</button>
		<section class="filtros-container flex-wrap oculto">
			<div class="filtros">
				<select class="form-select filter-select">
					<option selected>Categorías</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
				<select class="form-select filter-select">
					<option selected>Orden</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>

			<div class="acciones">
				<button class="btn-aplicar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
												 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
												 class="icon icon-tabler icons-tabler-outline icon-tabler-check">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M5 12l5 5l10 -10" />
				</svg>
					Aplicar</button>
				<button class="btn-borrar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
												fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
												class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M4 7l16 0" />
					<path d="M10 11l0 6" />
					<path d="M14 11l0 6" />
					<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
					<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
				</svg>
					Borrar</button>
			</div>
		</section>

		<div class="row mt-5">
			<!-- Card 1 -->
			<div class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-center">
				<div class="curso-card">
					<div class="imagen-container">
						<img src="" />
						<div class="tags-container">
							<div class="tag"><span>html</span></div>
							<div class="tag"><span>javascript</span></div>
							<div class="tag"><span>sql</span></div>
						</div>
					</div>
					<div class="card-body-custom">
						<div>
							<h6 class="creator">Nombre del creador</h6>
							<p class="fecha">16/5/2023</p>
							<h5 class="descripcion">
								Lorem ipsum dolor sit amet est consectetur adipiscing elit nullam
								commodo, vulputate acfhjsdajklfhsdjklfhsdklsd
							</h5>
						</div>
						<button class="btn-curso">+ Obtener curso</button>
					</div>
				</div>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-center">
				<div class="curso-card">
					<div class="imagen-container">
						<img src="" />
						<div class="tags-container">
							<div class="tag"><span>html</span></div>
							<div class="tag"><span>javascript</span></div>
							<div class="tag"><span>sql</span></div>
						</div>
					</div>
					<div class="card-body-custom">
						<div>
							<h6 class="creator">Nombre del creador</h6>
							<p class="fecha">16/5/2023</p>
							<h5 class="descripcion">
								Lorem ipsum dolor sit amet est consectetur adipiscing elit nullam
								commodo, vulputate acfhjsdajklfhsdjklfhsdklsd
							</h5>
						</div>
						<button class="btn-curso">+ Obtener curso</button>
					</div>
				</div>
			</div>

			<!-- Card 3 -->
			<div class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-center">
				<div class="curso-card">
					<div class="imagen-container">
						<img src="" />
						<div class="tags-container">
							<div class="tag"><span>html</span></div>
							<div class="tag"><span>javascript</span></div>
							<div class="tag"><span>sql</span></div>
						</div>
					</div>
					<div class="card-body-custom">
						<div>
							<h6 class="creator">Nombre del creador</h6>
							<p class="fecha">16/5/2023</p>
							<h5 class="descripcion">
								Lorem ipsum dolor sit amet est consectetur adipiscing elit nullam
								commodo, vulputate acfhjsdajklfhsdjklfhsdklsd
							</h5>
						</div>
						<button class="btn-curso">+ Obtener curso</button>
					</div>
				</div>
			</div>

			<!-- Card 4 -->
			<div class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-center">
				<div class="curso-card">
					<div class="imagen-container">
						<img src="" />
						<div class="tags-container">
							<div class="tag"><span>html</span></div>
							<div class="tag"><span>javascript</span></div>
							<div class="tag"><span>sql</span></div>
						</div>
					</div>
					<div class="card-body-custom">
						<div>
							<h6 class="creator">Nombre del creador</h6>
							<p class="fecha">16/5/2023</p>
							<h5 class="descripcion">
								Lorem ipsum dolor sit amet est consectetur adipiscing elit nullam
								commodo, vulputate acfhjsdajklfhsdjklfhsdklsd
							</h5>
						</div>
						<button class="btn-curso">+ Obtener curso</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>

</body>
</html>