<!DOCTYPE html>
<html lang="en"
	  layout:decorate="~{layouts/user-postlogin-layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Knowy - Home</title>
	<link rel="stylesheet" th:href="@{/styles/pages/user-home.css}">
<body>
<main layout:fragment="main-content">
	<section
		th:replace="~{components/user-home/resume :: example-card-component('Anastasia', 'Bienvenida', 10230, 20, 2, 10)}">
	</section>
	<div
		class="home-grid--1c2r"
		th:insert="~{components/user-home/carousel-news :: carousel-news('carousel-news-id', ${newsHome})}">

	<div class="home-grid--1c2r">
		<div th:replace="~{components/missionsComponent :: missionsComponent(${missionsList}, ${lenguageOptions})}"></div>
	</div>
	</div>
</main>
</body>
</html>