<!-- templates/components/user-home/resume -->
<section class="home-resume"
		 th:fragment="example-card-component(username, greeting, streak, fractionProgress, fractionNum, fractionDen)">

	<section class="home-resume__presentation-streak">
		<h2 th:text="${greeting} + ', ' + ${username}"></h2>
		<div class="streak">
			<span class="streak__text">Racha</span>
			<div class="streak__days">
				<span class="streak__days--text" th:text="${streak}"></span>
				<p class="streak__days--text">días</p>
			</div>
		</div>
	</section>

	<section class="home-resume__course-progress">
		<div class="home-resume__bar-text">
			<span>Cursos:</span>
			<span class="home-resume__bar-text--fraction" th:text="${fractionNum} + '/' + ${fractionDen}"></span>
		</div>
		<div class="home-resume__bar-container">
			<div class="home-resume__bar-container__bar-progress" th:style="'width:' + ${fractionProgress} + '%'"></div>
		</div>

		<button class="home-resume__course-btn">
			<svg class="icon icon-tabler icons-tabler-outline icon-tabler-player-play" fill="none" height="20"
				 stroke="currentColor" stroke-linecap="round"
				 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20"
				 xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0h24v24H0z" fill="none" stroke="none"/>
				<path d="M7 4v16l13 -8z"/>
			</svg>
			Ir a cursos
		</button>
	</section>
</section>