@use "../../global-vars" as *;

.modal-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}


.modal-overlay__modal-container {
	background-color: $primary-500;
	border-radius: $radius-25;
	box-shadow: $card-shadow;
	width: 90%;
	max-width: 400px;
	text-align: center;
	font-family: excalifont, serif;
	color: $primary-500;
	overflow: hidden;
}

/* Estilos para la barra superior "¡Correcto!" */
.modal-overlay__modal-header {
	background-color: $primary-500;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: $radius-25;
	display: flex;
	justify-content: center;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 28px;
	transform: translateY(-100%);
	animation: slideInHeader 0.5s forwards ease-out;
}

@keyframes slideInHeader {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.modal-overlay__modal-body {
	padding: 10px;
	background-color: $primary-100;
	border-radius: $radius-25;
	color: #000000;
}

.modal-overlay__modal-body h2 {
	margin-top: 25px;
	font-size: 20px;
}

.modal-overlay__modal-body h3 {
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: lighter;
}

.difficulty-buttons-container {
	display: flex;
	justify-content: space-around;
	gap: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.dbutton {
	flex: 1;
	border: none;
	padding: 15px 10px;
	border-radius: 10px;
	font-size: 1.2em;
	font-weight: 400;
	cursor: pointer;
	transition: background-color $transition-speed ease, transform $transition-speed ease;
	font-family: excalifont, serif;
	color: #FFFFFF;
	box-shadow: $card-shadow;

	i {
		color: white;
	}
}


.difficulty-button--easy {
	background-color: $info-600;
}

.difficulty-button--easy:hover {
	background-color: $info-500;
	transform: translateY(-2px);
}

.difficulty-button--normal {
	background-color: $secundary-500;
}

.difficulty-button--normal:hover {
	background-color: $secundary-300;
	transform: translateY(-2px);
}

.difficulty-button--difficult {
	background-color: $neutral-700;
}

.difficulty-button--difficult:hover {
	background-color: $neutral-500;
	transform: translateY(-2px);
}

/*Oculta el modal por defecto y mostrarlo con JavaScript */
.modal-overlay.hidden {
	display: none;
}