@use '../../_global-vars' as *;


.solutions-accordion {
	border: 3px solid $secundary-700;
}

.solutions-accordion .accordion-button {
	background-color: $secundary-500;
	color: white;
	transition: $transition-speed;
}

.solutions-accordion .accordion-button:hover {
	background-color: $secundary-700;
	color: white;
}

.solutions-accordion .accordion-button:not(.collapsed) {
	background-color: $secundary-500;
	color: $neutral-100;
}

.solutions-accordion .accordion-button:focus {
	outline: none;
	box-shadow: $card-shadow;
	color: $neutral-100;
}

.solutions-accordion .accordion-item {
	border-radius: $radius-8 !important;
	box-shadow: $card-shadow;
}

.sol-cards {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#solSub-accordionExample {
	border: none;
}


