@use "../../global-vars" as *;


/*Options-questionnaire*/


.options-quiz{
	width: 80%;

	@media (max-width: 768px) {
		width: 80%;
		padding: 0 1rem;
	}
}


.exercise-option{
	width: 100%;
	text-align: left;
	padding: 15px 20px;
	margin-bottom: 10px;
	border: 3px solid $secundary-700;
	border-radius: $radius-10;
	background: $neutral-100;
	transition: $transition-speed;
	font-family: excalifont;
}

.exercise-option:hover {
	color: $neutral-100;
	background: $secundary-300;
}

.exercise-option.selected {
	color: $neutral-100;
	background: $secundary-500;
}

.exercise-option.correct {
	background: $primary-500;
	color: $neutral-100;
	border-color: $primary-700;
}

.exercise-option.incorrect {
	background: $danger-600;
	color: $neutral-100;
	border-color: $danger-500;
}


