@use '../../global-vars' as *;

.curso-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.curso-banner {
	font-family: caveat-brush;
	font-size: 1.2rem;
	font-weight: bold;
	align-content: center;
	align-self: center;
	width: 80%;
	margin: 1em;
	padding: 0.5em 5em;
	text-align: center;
	color: white;
	border-radius: 30px;
	background-color: $primary-500;

}

.info-panel {
	display: flex;
	align-self: center;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
	margin: 0 1em;

	@media (max-width: 768px) {
		gap: 1em;
	}

	.info-panel__element {
		font-weight: bold;
		padding: 0.5rem 1rem;
		text-align: center;
		border: 2px solid $primary-500;
		border-radius: 20px;
		background-color: white;

		.info-panel__element__content {
			color: $primary-500;
		}

		@media (max-width: 768px) {
			font-size: 0.7rem;
			font-weight: normal;
			flex-wrap: nowrap;
			padding: 0.25rem;
			border: none;
		}
	}
}