<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error 404 - Página no encontrada</title>
	<link rel="stylesheet" th:href="@{/styles/pages/error.css}">
</head>
<body>
<div class="error-card">
	<div class="logo-container">
		<img src="/images/logoWoutText.png" alt="Logo Knowy">
		<span class="kn-logo--text">KNOWY</span>
	</div>

	<h1 class="error-title">Error 404 - Página no encontrada</h1>
	<h4 class="error-message">La página que buscas no existe, ha sido eliminada o movida.</h4>

	<button class="error-btn" onclick="history.back()">Volver a la página anterior</button>
</div>
</body>
</html>